USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[EmpresaContato]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaContato](
	[CodEmpresa] [int] NOT NULL,
	[CodContato] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpresaContato] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC,
	[CodContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpresaContato]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaContato_Contato] FOREIGN KEY([CodContato])
REFERENCES [dbo].[Contato] ([CodContato])
GO
ALTER TABLE [dbo].[EmpresaContato] CHECK CONSTRAINT [FK_dbo.EmpresaContato_Contato]
GO
ALTER TABLE [dbo].[EmpresaContato]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaContato_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[EmpresaContato] CHECK CONSTRAINT [FK_dbo.EmpresaContato_Empresa]
GO
