USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[CodEndereco] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoEndereco] [int] NOT NULL,
	[Cep] [varchar](9) NOT NULL,
	[Logradouro] [varchar](350) NOT NULL,
	[Numero] [varchar](5) NOT NULL,
	[Complemento] [varchar](300) NULL,
	[Bairro] [varchar](80) NULL,
	[Cidade] [varchar](80) NULL,
	[Estado] [varchar](80) NULL,
 CONSTRAINT [PK_dbo.Endereco] PRIMARY KEY CLUSTERED 
(
	[CodEndereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Endereco_TipoEndereco] FOREIGN KEY([CodTipoEndereco])
REFERENCES [dbo].[TipoEndereco] ([CodTipoEndereco])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_dbo.Endereco_TipoEndereco]
GO
