USE [SIS_TECH]
GO
 
 
 CREATE TABLE [dbo].[Cnae](
	[CodCnae]		[int] IDENTITY(1,1) NOT NULL,
	[NumeroCnae]	[varchar](100)		NOT NULL,
	[Descricao]		[varchar](255)		NOT NULL,
	[Anexo]			[varchar](10)		NOT NULL,
	[Fator]			[bit]				NOT NULL,
	[Aliquota]		[decimal](18, 0)	NOT NULL,
	[Quem]			[varchar](6)		NOT NULL,
	[Quando]		[datetime]			NOT NULL,
 CONSTRAINT [PK_dbo.Cnae] PRIMARY KEY CLUSTERED 
(
	[CodCnae] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
