USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[EmpresaConvencao]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaConvencao](
	[CodEmpresa] [int] NOT NULL,
	[CodConvencao] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpresaConvencao] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC,
	[CodConvencao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpresaConvencao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaConvencao_Convencao] FOREIGN KEY([CodConvencao])
REFERENCES [dbo].[Convencao] ([CodConvencao])
GO
ALTER TABLE [dbo].[EmpresaConvencao] CHECK CONSTRAINT [FK_dbo.EmpresaConvencao_Convencao]
GO
ALTER TABLE [dbo].[EmpresaConvencao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaConvencao_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[EmpresaConvencao] CHECK CONSTRAINT [FK_dbo.EmpresaConvencao_Empresa]
GO
