USE [SIS_TECH]
GO

CREATE TABLE [dbo].[Arquivos](
	[CodArquivo]	[int]		IDENTITY(1,1)	NOT NULL,
	[Titulo]		[varchar](50)				NULL,
	[Nome]			[varchar](50)				NOT NULL,
	[ContentType]	[varchar](50)				NULL,
	[Arquivo]		[varchar](max)				NULL,
	[Ativo]			[bit]						NOT NULL,
	[Quem]			[varchar](6)				NOT NULL,
	[Quando]		[datetime]					NOT NULL,
 CONSTRAINT [PK_dbo.Arquivos] PRIMARY KEY CLUSTERED 
(
	[CodArquivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
