USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[ContabilidadeContato]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContabilidadeContato](
	[CodContabilidade] [int] NOT NULL,
	[CodContato] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContabilidadeContato] PRIMARY KEY CLUSTERED 
(
	[CodContabilidade] ASC,
	[CodContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContabilidadeContato]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContabilidadeContato_Contabilidade] FOREIGN KEY([CodContabilidade])
REFERENCES [dbo].[Contabilidade] ([CodContabilidade])
GO
ALTER TABLE [dbo].[ContabilidadeContato] CHECK CONSTRAINT [FK_dbo.ContabilidadeContato_Contabilidade]
GO
ALTER TABLE [dbo].[ContabilidadeContato]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContabilidadeContato_Contato] FOREIGN KEY([CodContato])
REFERENCES [dbo].[Contato] ([CodContato])
GO
ALTER TABLE [dbo].[ContabilidadeContato] CHECK CONSTRAINT [FK_dbo.ContabilidadeContato_Contato]
GO
