USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[EmpresaCnae]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaCnae](
	[CodEmpresa] [int] NOT NULL,
	[CodCnae] [int] NOT NULL,
	[Primario] [bit] NOT NULL,
	[Secundario] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EmpresaCnae] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC,
	[CodCnae] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpresaCnae]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaCnae_Cnae] FOREIGN KEY([CodCnae])
REFERENCES [dbo].[Cnae] ([CodCnae])
GO
ALTER TABLE [dbo].[EmpresaCnae] CHECK CONSTRAINT [FK_dbo.EmpresaCnae_Cnae]
GO
ALTER TABLE [dbo].[EmpresaCnae]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaCnae_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[EmpresaCnae] CHECK CONSTRAINT [FK_dbo.EmpresaCnae_Empresa]
GO
