USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[EmpresaSocios]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaSocios](
	[CodEmpresa] [int] NOT NULL,
	[CodSocio] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpresaSocios] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC,
	[CodSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpresaSocios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaSocios_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[EmpresaSocios] CHECK CONSTRAINT [FK_dbo.EmpresaSocios_Empresa]
GO
ALTER TABLE [dbo].[EmpresaSocios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaSocios_Socio] FOREIGN KEY([CodSocio])
REFERENCES [dbo].[Socios] ([CodSocio])
GO
ALTER TABLE [dbo].[EmpresaSocios] CHECK CONSTRAINT [FK_dbo.EmpresaSocios_Socio]
GO
