USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[Contabilidade]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contabilidade](
	[CodContabilidade] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[Responsavel] [varchar](150) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Observacao] [varchar](255) NOT NULL,
	[Cnpj] [varchar](18) NULL,
	[Quem]			[varchar](6)		NOT NULL,
	[Quando]		[datetime]			NOT NULL,
 CONSTRAINT [PK_dbo.Contabilidade] PRIMARY KEY CLUSTERED 
(
	[CodContabilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
