USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[EmpresaContabilidade]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaContabilidade](
	[CodEmpresa] [int] NOT NULL,
	[CodContabilidade] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpresaContabilidade] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC,
	[CodContabilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpresaContabilidade]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaContabilidade_Contabilidade] FOREIGN KEY([CodContabilidade])
REFERENCES [dbo].[Contabilidade] ([CodContabilidade])
GO
ALTER TABLE [dbo].[EmpresaContabilidade] CHECK CONSTRAINT [FK_dbo.EmpresaContabilidade_Contabilidade]
GO
ALTER TABLE [dbo].[EmpresaContabilidade]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaContabilidade_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[EmpresaContabilidade] CHECK CONSTRAINT [FK_dbo.EmpresaContabilidade_Empresa]
GO
