USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[LogSistema]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSistema](
	[CodLog] [bigint] IDENTITY(1,1) NOT NULL,
	[CodSistema] [int] NOT NULL,
	[NmeTabela] [varchar](50) NOT NULL,
	[VlrOriginal] [xml] NOT NULL,
	[TpoAcao] [char](3) NOT NULL,
	[NmeLoginUsuario] [varchar](20) NOT NULL,
	[DtaLog] [datetime] NOT NULL,
 CONSTRAINT [PK_LogSistema] PRIMARY KEY CLUSTERED 
(
	[CodLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogSistema]  WITH NOCHECK ADD  CONSTRAINT [CK_LogSistema] CHECK NOT FOR REPLICATION (([TpoAcao]='U' OR [TpoAcao]='D' OR [TpoAcao]='I'))
GO
ALTER TABLE [dbo].[LogSistema] CHECK CONSTRAINT [CK_LogSistema]
GO
