USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[ContabilidadeEndereco]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContabilidadeEndereco](
	[CodContabilidade] [int] NOT NULL,
	[CodEndereco] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContabilidadeEndereco] PRIMARY KEY CLUSTERED 
(
	[CodContabilidade] ASC,
	[CodEndereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContabilidadeEndereco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContabilidadeEndereco_Contabilidade] FOREIGN KEY([CodContabilidade])
REFERENCES [dbo].[Contabilidade] ([CodContabilidade])
GO
ALTER TABLE [dbo].[ContabilidadeEndereco] CHECK CONSTRAINT [FK_dbo.ContabilidadeEndereco_Contabilidade]
GO
ALTER TABLE [dbo].[ContabilidadeEndereco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContabilidadeEndereco_Endereco] FOREIGN KEY([CodEndereco])
REFERENCES [dbo].[Endereco] ([CodEndereco])
GO
ALTER TABLE [dbo].[ContabilidadeEndereco] CHECK CONSTRAINT [FK_dbo.ContabilidadeEndereco_Endereco]
GO
