USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[Convencao]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Convencao](
	[CodConvencao] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoCCT] [int] NOT NULL,
	[CodStatusCCT] [int] NOT NULL,
	[NomeConvencao] [varchar](100) NOT NULL,
	[AnoVigenciaInicial] [varchar](4) NOT NULL,
	[AnoVigenciaFinal] [varchar](4) NOT NULL,
	[Observacao] [varchar](255) NULL,
	[CCTAssinada] [bit] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Quem] [varchar](6) NOT NULL,
	[Quando] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Convencao] PRIMARY KEY CLUSTERED 
(
	[CodConvencao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Convencao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Convencao_StatusCCT] FOREIGN KEY([CodStatusCCT])
REFERENCES [dbo].[StatusCCT] ([CodStatusCCT])
GO
ALTER TABLE [dbo].[Convencao] CHECK CONSTRAINT [FK_dbo.Convencao_StatusCCT]
GO
ALTER TABLE [dbo].[Convencao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Convencao_TipoCCT] FOREIGN KEY([CodTipoCCT])
REFERENCES [dbo].[TipoCCT] ([CodTipoCCT])
GO
ALTER TABLE [dbo].[Convencao] CHECK CONSTRAINT [FK_dbo.Convencao_TipoCCT]
GO
