USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[ConvencaoArquivo]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConvencaoArquivo](
	[CodConvencao] [int] NOT NULL,
	[CodArquivo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ConvencaoArquivo] PRIMARY KEY CLUSTERED 
(
	[CodConvencao] ASC,
	[CodArquivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConvencaoArquivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConvencaoArquivo_Arquivo] FOREIGN KEY([CodArquivo])
REFERENCES [dbo].[Arquivos] ([CodArquivo])
GO
ALTER TABLE [dbo].[ConvencaoArquivo] CHECK CONSTRAINT [FK_dbo.ConvencaoArquivo_Arquivo]
GO
ALTER TABLE [dbo].[ConvencaoArquivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConvencaoArquivo_Convencao] FOREIGN KEY([CodConvencao])
REFERENCES [dbo].[Convencao] ([CodConvencao])
GO
ALTER TABLE [dbo].[ConvencaoArquivo] CHECK CONSTRAINT [FK_dbo.ConvencaoArquivo_Convencao]
GO
