USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[Contato]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contato](
	[CodContato] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoContato] [int] NOT NULL,
	[DDD] [varchar](3) NOT NULL,
	[Telefone] [varchar](35) NOT NULL,
	[Email] [varchar](300) NULL,
 CONSTRAINT [PK_dbo.Contato] PRIMARY KEY CLUSTERED 
(
	[CodContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contato]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contato_TipoContato] FOREIGN KEY([CodTipoContato])
REFERENCES [dbo].[TipoContato] ([CodTipoContato])
GO
ALTER TABLE [dbo].[Contato] CHECK CONSTRAINT [FK_dbo.Contato_TipoContato]
GO
