USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[CodEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoPessoa] [int] NOT NULL,
	[CodRamoAtividade] [int] NOT NULL,
	[Cnpj] [varchar](18) NOT NULL,
	[RazaoSocial] [varchar](150) NOT NULL,
	[NomeFantasia] [varchar](150) NULL,
	[DataCadastro] [datetime] NOT NULL,
	[DataAbertura] [datetime] NULL,
	[InscricaoEstadual] [varchar](15) NULL,
	[InscricaoMunicipal] [varchar](14) NULL,
	[Sindicalizada] [bit] NOT NULL,
	[EhMatrizFilial] [bit] NOT NULL,
	[QuantidadeFUncionarios] [int] NOT NULL,
	[ValorTotalFolha] [decimal](14, 2) NOT NULL,
	[CapitalSocial] [decimal](14, 2) NOT NULL,
	[Observacao] [varchar](max) NULL,
	[Ativo] [bit] NOT NULL,
	[Quem] [varchar](6) NOT NULL,
	[Quando] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Empresa] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Empresa_TipoPessoa] FOREIGN KEY([CodTipoPessoa])
REFERENCES [dbo].[TipoPessoa] ([CodTipoPessoa])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_dbo.Empresa_TipoPessoa]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pessoa_RamoAtividade] FOREIGN KEY([CodRamoAtividade])
REFERENCES [dbo].[RamoAtividade] ([CodRamoAtividade])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_dbo.Pessoa_RamoAtividade]
GO
