USE [SIS_TECH]
GO
/****** Object:  Table [dbo].[EmpresaEndereco]    Script Date: 12/09/2025 15:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaEndereco](
	[CodEmpresa] [int] NOT NULL,
	[CodEndereco] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpresaEndereco] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC,
	[CodEndereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmpresaEndereco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaEndereco_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[EmpresaEndereco] CHECK CONSTRAINT [FK_dbo.EmpresaEndereco_Empresa]
GO
ALTER TABLE [dbo].[EmpresaEndereco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpresaEndereco_Endereco] FOREIGN KEY([CodEndereco])
REFERENCES [dbo].[Endereco] ([CodEndereco])
GO
ALTER TABLE [dbo].[EmpresaEndereco] CHECK CONSTRAINT [FK_dbo.EmpresaEndereco_Endereco]
GO
