USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CLIENTE_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_CLIENTE_INCLUIR] 
(
	 @CodTipoPessoa			INT 
    ,@CodRamoAtividade		INT
    ,@CpfCnpj				VarChar(18) 
    ,@Nome					VarChar(150) 
    ,@NomeFantasia			VarChar(150)	= NULL
	,@CadastroDesde			datetime		= NULL
    ,@InscricaoEstadual		VarChar(15)		= NULL
	,@InscricaoMunicipal	VarChar(14)		= NULL
    ,@InformacoesAdd		VarChar(255)	= NULL 
    ,@Ativo					bit 
	,@Quem					varchar(6)
)
AS
BEGIN

	IF NOT EXISTS(SELECT CpfCnpj FROM dbo.[Cliente] WITH(NOLOCK)	WHERE CpfCnpj = @CpfCnpj or Nome = @Nome or NomeFantasia = @NomeFantasia)
	Begin
	
		INSERT INTO [dbo].[Cliente]
			(
				 CodTipoPessoa		
				,CodRamoAtividade
				,CpfCnpj			
				,Nome				
				,NomeFantasia		
				,CadastroDesde		
				,InscricaoEstadual	
				,InscricaoMunicipal
				,InformacoesAdd	
				,Ativo				
				,Quem				
				,Quando
			)
		VALUES
			(
				 @CodTipoPessoa		
				,@CodRamoAtividade				
				,@CpfCnpj			
				,@Nome				
				,@NomeFantasia		
				,@CadastroDesde		
				,@InscricaoEstadual	
				,@InscricaoMunicipal
				,@InformacoesAdd	
				,@Ativo				
				,@Quem				
				,GETDATE()
			)

		SELECT @@IDENTITY AS 'CodCliente';
	
	 	
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT top 1 * FROM [Cliente] order by 1 desc for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'Cliente', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************	 

	End
	ELSE
	Begin
	 
	 SELECT 0 as CodCliente
	 
	End

END
GO
