USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_RAMO_ATIVIDADE_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_RAMO_ATIVIDADE_LISTAR_FILTRO]
(
	 @CodRamoAtividade int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodRamoAtividade = 0)
	begin	
		set @CodRamoAtividade = NULL	
	end	
		

	SELECT 
		 CodRamoAtividade
		,Descricao
	FROM RamoAtividade	 
	where (
			@CodRamoAtividade IS NULL				
			OR CodRamoAtividade = @CodRamoAtividade
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
