USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_CCT_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_STATUS_CCT_OBTER]
(
	 @CodStatusCCT int  
)
AS
BEGIN

  IF (@CodStatusCCT = 0)
  begin	
	set @CodStatusCCT = NULL	
  end	

	SELECT 
		 CodStatusCCT
		,Descricao
	FROM StatusCCT
	where CodStatusCCT= @CodStatusCCT
  		
END

 
GO
