USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_CONTABILIDADE_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[P_ENDERECO_CONTABILIDADE_INCLUIR]   
(
	 @CodContabilidade int 
 	,@CodTipoEndereco  int 
	,@Cep varchar(9) 
	,@Logradouro varchar(150)
	,@Numero varchar(5)
	,@Complemento varchar(100)	= null
	,@Bairro varchar(80)		= null
	,@Cidade varchar(80)		= null
	,@Estado varchar(80)		= null	
	,@Quem							varchar(6)	
)
AS
BEGIN

	INSERT INTO [dbo].[Endereco]
           ([CodTipoEndereco]
           ,[Cep]
           ,[Logradouro]
           ,[Numero]
           ,[Complemento]
           ,[Bairro]
           ,[Cidade]
           ,[Estado])
     VALUES
           (@CodTipoEndereco
           ,@Cep
           ,@Logradouro
           ,@Numero
           ,@Complemento
           ,@Bairro
           ,@Cidade
           ,@Estado
		   )


	DECLARE @CodEnderecoId int

	SELECT @CodEnderecoId = CodEndereco
	FROM Endereco
	WHERE @@ROWCOUNT > 0 AND CodEndereco = scope_identity()
    
	INSERT INTO [dbo].[ContabilidadeEndereco]
		(CodContabilidade ,CodEndereco)
	VALUES
	(
		 @CodContabilidade
		 ,@CodEnderecoId
	) 

 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Endereco WHERE CodEndereco = @CodEnderecoId for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Endereco', @VlrOriginal, 'I', @Quem 

	SET @VlrOriginal = (SELECT * FROM ContabilidadeEndereco WHERE CodContabilidade = @CodContabilidade and CodEndereco = @CodEnderecoId for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'ContabilidadeEndereco', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	 
	
	SELECT CodEndereco
	FROM Endereco
	WHERE @@ROWCOUNT > 0 AND CodEndereco = @CodEnderecoId
  		
END

 
GO
