USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SITE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_SITE_LISTAR]
(
	@Usuario			varchar(6) 
)
AS
BEGIN


	
	select 
		 senSit.CodSenhaSite
		,senSit.CodInstituicao
		,inst.Descricao as DescInstituicao
		,senSit.Link
		,senSit.Usuario
		,senSit.Senha
		,senSit.RecoveryCode
		,senSit.Observacao
		,senSit.Ativo
		,senSit.Quem
	from SenhaSite senSit
	inner join Instituicao inst
		on inst.CodInstituicao = senSit.CodInstituicao 
	where senSit.Quem = @Usuario


END
GO
