USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_EMPRESA_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE [dbo].[P_CONTATO_EMPRESA_LISTAR]    
(
	@CodEmpresa int 
)
AS
BEGIN

  IF (@CodEmpresa = 0)
  begin	
	set @CodEmpresa = NULL	
  end	
		
	SELECT
		 CON.[CodContato]
		,ConCon.CodEmpresa
		,TCON.CodTipoContato
		,TCON.Descricao DescTipoContato
		,CON.[DDD]
		,CON.[Telefone]
		,CON.[Email]
	FROM EmpresaContato ConCon
	INNER JOIN Empresa Cont
		on ConCon.CodEmpresa = Cont.CodEmpresa
	INNER JOIN Contato CON
		on ConCon.CodContato = CON.CodContato
	INNER JOIN TipoContato TCON
		on TCON.CodTipoContato = CON.CodTipoContato
	where Cont.CodEmpresa = @CodEmpresa

  		
END

 
GO
