USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ARQUIVOS_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_ARQUIVOS_INSERIR]
(
	 @Titulo		varchar(50)	 = NULL
	,@Nome			varchar(50) 
	,@ContentType	varchar(50) = NULL
	,@Arquivo		varchar(max) = NULL
	,@Ativo			bit
	,@Quem			varchar(6) 
)
AS
BEGIN
		
		declare @CodIDENTITY int  

		declare @TituloAux		varchar(50)
		declare @NomeAux		varchar(50) 
		declare @ArquivoAux		varchar(max) 

		select @TituloAux	= SIS_TECH.dbo.fncRemove_Acentuacao2(@Titulo)
		select @NomeAux		= SIS_TECH.dbo.fncRemove_Acentuacao2(@Nome)
		select @ArquivoAux	= SIS_TECH.dbo.fncRemove_Acentuacao2(@Arquivo)
			   

		INSERT INTO [dbo].[Arquivos]
		(
			 Titulo		
			,Nome			
			,ContentType	
			,Arquivo		
			,Ativo			
		 )
		 VALUES
		(
			 @TituloAux
			,@NomeAux			
			,@ContentType	
			,@ArquivoAux		
			,@Ativo			
		)
		
		set @CodIDENTITY = @@IDENTITY 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Arquivos WHERE CodArquivo = @CodIDENTITY for xml auto)

		EXEC P_LOGSISTEMA_INCLUIR  3, 'Arquivos', @VlrOriginal, 'I', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************


		select @CodIDENTITY AS 'CodArquivo'

END
GO
