USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SITE_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_SITE_LISTAR_FILTRO]
(
	 @CodInstituicao int = null
   ,@Usuario			varchar(6) 
)
AS
BEGIN


	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	
		
	
	select 
		 senSit.CodSenhaSite
		,senSit.CodInstituicao
		,inst.Descricao as DescInstituicao
		,senSit.Link
		,senSit.Usuario
		,senSit.Senha
		,senSit.RecoveryCode
		,senSit.Observacao
		,senSit.Ativo
		,senSit.Quem
	from SenhaSite senSit
	inner join Instituicao inst
		on inst.CodInstituicao = senSit.CodInstituicao 
	where (
			@CodInstituicao IS NULL				
			OR  senSit.CodInstituicao = @CodInstituicao
		)
  and senSit.Quem = @Usuario
		--@link IS NULL
		--OR UPPER(LTRIM(RTRIM(link))) LIKE '%' + UPPER(LTRIM(RTRIM(@link))) + '%'
		--)
	order by Descricao  	


END
GO
