USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_CLIENTE_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [dbo].[P_CONTATO_CLIENTE_INCLUIR]   
(
	@CodCliente int 
   ,@CodTipoContato int 
   ,@DDD VARCHAR(3)
   ,@Telefone VARCHAR(15) 
   ,@Email VARCHAR(100) = NULL
   ,@Quem	varchar(6)	

)
AS
BEGIN


	declare @CodIDENTITY int 

	INSERT INTO [dbo].[Contato]
			([CodTipoContato]
			,[DDD]
			,[Telefone]
			,[Email])
		VALUES
		(
			 @CodTipoContato
			,@DDD
			,@Telefone
			,@Email
		)

		DECLARE @ContatoId int
		SELECT @ContatoId = CodContato
		FROM Contato
		WHERE @@ROWCOUNT > 0 AND CodContato = scope_identity()
    
		INSERT INTO [dbo].[ClienteContato]
			(CodCliente ,CodContato)
		VALUES
		(
			 @CodCliente
			 ,@ContatoId		
		)
		 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM Contato WHERE CodContato = @ContatoId for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Contato', @VlrOriginal, 'I', @Quem 

	SET @VlrOriginal = (SELECT top 1 * FROM ClienteContato WHERE CodCliente = @CodCliente and CodContato = @ContatoId for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'ClienteContato', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	 	
		SELECT CodContato
		FROM Contato
		WHERE @@ROWCOUNT > 0 AND CodContato = @ContatoId
	
	 		
END

 
GO
