USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFA_STATUSWORKFLOW_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_TAREFA_STATUSWORKFLOW_ALTERAR]  
(
	  @CodProjetoTarefa		INT	
	 ,@CodStatusWorkflow	INT 
	 ,@CodStatusTarefa		INT 
	 ,@SequenciaTarefa		INT	 
	 ,@Quem					VARCHAR(6)
)
AS
BEGIN
  
	--CodStatusWorkflow = 1 -- TODO
	--CodStatusWorkflow = 2 -- IN PROGRESS
	--CodStatusWorkflow = 3 -- DONE
	 
	   	 
	update ProjetoTarefa
	set
		 CodStatusTarefa	= @CodStatusTarefa
		,CodStatusWorkflow	= @CodStatusWorkflow
		,SequenciaTarefa	= @SequenciaTarefa
		,Quem				= @Quem		
	where CodProjetoTarefa  = @CodProjetoTarefa


	--DECLARE @CODPROJETOAUX INT
	--DECLARE @COUNT INT

	--SELECT @CODPROJETOAUX = CodProjeto 
	--FROM ProjetoTarefa
	--WHERE CodProjetoTarefa  = @CodProjetoTarefa

	--select @COUNT = count(*)
	--from ProjetoTarefa
	--where CodProjeto = @CODPROJETOAUX
	--	and CodStatusTarefa = 2

		
		
	--IF @COUNT > 0 
	--BEGIN

	--	UPDATE Projeto
	--	SET CodStatusProjeto = 2
	--	WHERE CodProjeto = @CODPROJETOAUX
		
	--END
	--ELSE
	--BEGIN
	
	--	UPDATE Projeto
	--	SET CodStatusProjeto = 1
	--	WHERE CodProjeto = @CODPROJETOAUX
		
	--END
	

	
END
GO
