USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_RAMO_ATIVIDADE_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_RAMO_ATIVIDADE_ALTERAR]
(
	 @CodRamoAtividade int
	,@Descricao Varchar(150)
	,@Quem				VARCHAR(6)
)
AS
BEGIN

	UPDATE RamoAtividade
	Set Descricao = @Descricao
	WHERE CodRamoAtividade = @CodRamoAtividade

		--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM RamoAtividade WHERE CodRamoAtividade = @CodRamoAtividade for xml auto)
	
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'RamoAtividade', @VlrOriginal, 'U', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
  		
END

 
GO
