USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_CATEGORIA_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PESSOA_CATEGORIA_LISTAR_FILTRO]
(
	 @CodPessoaCategoria int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodPessoaCategoria = 0)
	begin	
		set @CodPessoaCategoria = NULL	
	end	
		

	SELECT 
		CodPessoaCategoria
		,Descricao
		,Sigla
	FROM PessoaCategoria
	where (
			@CodPessoaCategoria IS NULL				
			OR  CodPessoaCategoria = @CodPessoaCategoria
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
