USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CONVENCAO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE  [dbo].[P_EMPRESA_CONVENCAO_INSERIR]
(
 	 @CodEmpresa    int
	,@CodConvencao       int	
)
AS
BEGIN


	declare @CodIDENTITY int 

	INSERT INTO EmpresaConvencao
    (
         [CodEmpresa]
        ,[CodConvencao]       
    )
    VALUES
    (
         @CodEmpresa    
        ,@CodConvencao 
    ) 

	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaConvencao WHERE CodEmpresa = @CodIDENTITY for xml auto)

		

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaConvencao', @VlrOriginal, 'I', 'cd0001' 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodEmpresa'


END

 
GO
