USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_ARQUIVOS_LISTAR_TODOS]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PROJETO_ARQUIVOS_LISTAR_TODOS] 
(
	 @CodProjeto int	
)
AS
BEGIN

	SELECT
		  parq.CodProjetoArquivo
		 ,parq.CodProjeto
		 ,ISNULL(projS.CodProjetoSprint, 0) as CodProjetoSprint
		 ,ISNULL(parq.CodProjetoTarefa, 0) as CodProjetoTarefa
		 ,parq.CodArquivo
		 ,arq.Nome
		 ,arq.Arquivo
		 ,arq.Titulo
		 ,arq.ContentType
		 ,arq.Ativo
		 ,parq.Data
		 ,parq.Observacao
		 ,projS.Titulo as TituloSprint
		 ,projT.Titulo as TituloTarefa
	FROM ProjetoArquivo parq
	inner join Arquivos  arq
		on arq.CodArquivo = parq.CodArquivo
	left join ProjetoTarefa projT
		on projT.CodProjetoTarefa = parq.CodProjetoTarefa
	left join ProjetoSprint projS
		on projS.CodProjetoSprint = projT.CodProjetoSprint
    where parq.CodProjeto = @CodProjeto
	ORder by parq.Data desc

END
GO
