USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_BANCO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_BANCO_EXCLUIR]
(
	  @CodBanco INT    	
	 ,@Quem	    varchar(6) 	
)
AS
BEGIN


			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************
		
			DECLARE @VlrOriginal XML
			SET @VlrOriginal = (SELECT * FROM Banco WHERE CodBanco = @CodBanco for xml auto)
				 
			EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Banco', @VlrOriginal, 'D', @Quem 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************

			DELETE FROM Banco 
			Where CodBanco = @CodBanco

	--IF NOT EXISTS(	
	--				select * from Projeto proj
	--				inner join StatusProjeto stproj
	--				on stproj.CodStatusProjeto = proj.CodStatusProjeto
	--				where proj.CodStatusProjeto = @CodStatusProjeto		
	--			)
	--Begin
	 	
	--	IF(@CodStatusProjeto <> 2)
	--	begin
				
	--		--*********************************************
	--		--*************** AREA DE LOG   ***************
	--		--*********************************************
		
	--		DECLARE @VlrOriginal XML
	--		SET @VlrOriginal = (SELECT * FROM StatusProjeto WHERE CodStatusProjeto = @CodStatusProjeto for xml auto)
				 
	--		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusProjeto', @VlrOriginal, 'D', @Quem 

	--		--*********************************************
	--		--*************** AREA DE LOG   ***************
	--		--*********************************************

	--		DELETE FROM StatusProjeto 
	--		Where CodStatusProjeto = @CodStatusProjeto


	--	end
	--End
	--ELSE
	--Begin
	--	SELECT 0 'CodStatusProjeto'
	--End

END
GO
