USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_SENHA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_TIPO_SENHA_ALTERAR]
(
	 @CodTipoSenha int
	,@Descricao Varchar(80)
	,@Quem							varchar(6) 	
)
AS
BEGIN

		UPDATE TipoSenha
		Set Descricao = @Descricao
		WHERE CodTipoSenha = @CodTipoSenha

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoSenha WHERE CodTipoSenha = @CodTipoSenha for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoSenha', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
