USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PESSOA_INCLUIR] 
(
	 @CodPessoaCategoria	INT 
    ,@CodTipoPessoa			INT 
    ,@CpfCnpj				VarChar(18) 
    ,@Nome					VarChar(150) 
	,@Observacao			VarChar(255)	= NULL 
    ,@Email					VarChar(100)	= NULL 
    ,@Ativo					bit 
	,@Quem					varchar(6)
)
AS
BEGIN

	IF NOT EXISTS(SELECT CpfCnpj FROM dbo.[Pessoa] WITH(NOLOCK)	WHERE CpfCnpj = @CpfCnpj)
	Begin
	 	 
		INSERT INTO [dbo].[Pessoa]
			(
				 CodPessoaCategoria
				,CodTipoPessoa		
				,CpfCnpj			
				,Nome				
				,Observacao	
				,Email
				,Ativo				
				,Quem				
				,Quando
			)
		VALUES
			(
				 @CodPessoaCategoria
				,@CodTipoPessoa		
				,@CpfCnpj			
				,@Nome				
				,@Observacao	
				,@Email
				,@Ativo				
				,@Quem				
				,GETDATE()
			)

		SELECT @@IDENTITY AS 'CodPessoa';


		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT top 1 * FROM Pessoa order by 1 desc for xml auto)
		
		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Pessoa', @VlrOriginal, 'I', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
	
	End
	ELSE
	Begin
	 
	 SELECT 0 as CodPessoa
	 
	End

END
GO
