USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_LISTAR_TOTAL_ASSINADAS]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_CONVENCAO_LISTAR_TOTAL_ASSINADAS]
AS
BEGIN 

	--Total Assinadas
	select count(*)  as TotalAssinadas
	from convencao where CodStatusCCT = 1

END

 
GO
