USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_TRADING_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_TRADING_LISTAR_FILTRO]
(
	 @CodInstituicao int = null
    ,@Usuario			varchar(6) 
)
AS
BEGIN


	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	
		
	--IF (@CodBanco = 0)
	--begin	
	--	set @CodBanco = NULL	
	--end	
		
	
	SELECT 
		   senTra.CodSenhaTrading
		  ,senTra.CodInstituicao
		  ,inst.Descricao as DescInstituicao
		  ,senTra.CodBanco
		  ,bc.NomeBanco
		  ,senTra.NomeEmpresa
		  ,senTra.UsuarioEmail
		  ,senTra.UsuarioCPF
		  ,senTra.SenhaLogin
		  ,senTra.SenhaOrdens
		  ,senTra.Observacao
		  ,senTra.Ativo
		  ,senTra.Quem
	  FROM SenhaTrading senTra
	  inner join Instituicao inst
		on inst.CodInstituicao = senTra.CodInstituicao 
	  inner join Banco bc
		on bc.CodBanco = senTra.CodBanco 
	where (
			@CodInstituicao IS NULL				
			OR  senTra.CodInstituicao = @CodInstituicao
		)
	and senTra.Quem = @Usuario
	--		@CodBanco IS NULL				
	--		OR  senTra.CodBanco = @CodBanco
	--   )
  --  AND (
		--@link IS NULL
		--OR UPPER(LTRIM(RTRIM(link))) LIKE '%' + UPPER(LTRIM(RTRIM(@link))) + '%'
		--)
	order by Descricao  	


END
GO
