USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_PESSOA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_TIPO_PESSOA_ALTERAR]
(
	 @CodTipoPessoa int
	,@Descricao Varchar(80)
	,@Quem							varchar(6) 	
)
AS
BEGIN

		UPDATE TipoPessoa
		Set Descricao = @Descricao
		WHERE CodTipoPessoa = @CodTipoPessoa

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoPessoa WHERE CodTipoPessoa = @CodTipoPessoa for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoPessoa', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
