USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_PESSOA_LISTAR] 
(
	@CodPessoa int = null
   ,@Nome varchar(150) = null
   ,@NomeFantasia varchar(100) = null
)
AS
BEGIN

	IF (@CodPessoa = 0)
	begin	
		set @CodPessoa = NULL	
	end	

	IF (@Nome = '')
	begin	
		set @Nome = NULL	
	end	

	IF (@NomeFantasia = '')
	begin	
		set @NomeFantasia = NULL	
	end	
	 

  SELECT 
	   PES.[CodPessoa]
	  ,TPC.CodPessoaCategoria
	  ,TPC.Descricao as DescPessoaCategoria
	  ,TPP.CodTipoPessoa
	  ,TPP.Descricao AS DescTipoPessoa
	  ,PES.CpfCnpj
	  ,TPC.Sigla + ' - ' + pes.Nome as Nome       
      ,PES.Observacao
	  ,PES.Email
      ,PES.Ativo
      ,PES.Quem
  FROM Pessoa PES
	INNER JOIN PessoaCategoria  TPC
		ON PES.CodPessoaCategoria = TPC.CodPessoaCategoria
	INNER JOIN TipoPessoa TPP
		ON PES.CodTipoPessoa = TPP.CodTipoPessoa 
  where (
			@CodPessoa IS NULL				
			OR PES.CodPessoa = @CodPessoa
		)
    AND (
		@Nome IS NULL
		OR UPPER(LTRIM(RTRIM(PES.Nome))) LIKE '%' + UPPER(LTRIM(RTRIM(@Nome))) + '%'
		)
	--AND (
	--	@NomeFantasia IS NULL
	--	OR UPPER(LTRIM(RTRIM(PES.NomeFantasia))) LIKE '%' + UPPER(LTRIM(RTRIM(@NomeFantasia))) + '%'
	--	)
   
   
END
GO
