USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_FTP_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_FTP_ALTERAR]
(
     @CodSenhaFTP		int
	,@CodInstituicao	int
	,@Host				varchar(100)
	,@Porta				varchar(80)
	,@Link				varchar(255)
	,@Usuario			varchar(100)
	,@Senha				varchar(100)
	,@PastaRaiz			varchar(255)
	,@Observacao		varchar(255) = null
	,@Ativo				bit
	,@Quem				varchar(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaFTP WHERE CodSenhaFTP = @CodSenhaFTP for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaFTP', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

	UPDATE SenhaFTP
   SET 
	   CodInstituicao	= @CodInstituicao
      ,Host				= @Host
      ,Porta			= @Porta
      ,Link				= @Link
      ,Usuario			= @Usuario
      ,Senha			= @Senha
      ,PastaRaiz		= @PastaRaiz
      ,Observacao		= @Observacao
      ,Ativo			= @Ativo
      ,Quem				= @Quem
      ,Quando			= getdate()
	WHERE CodSenhaFTP = @CodSenhaFTP
	  

END
GO
