USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_EQUIPE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_EQUIPE_LISTAR]   
(
	@CodProjeto int 
)
AS
BEGIN

  IF (@CodProjeto = 0)
  begin	
	set @CodProjeto = NULL	
  end	
		
	select 
		 projE.CodProjetoEquipe
		,projE.CodProjeto
		,projE.CodPessoa
		,pesCat.Sigla + ' - ' + pes.Nome			as NomePessoa
		,pesCat.Descricao	as NomePessoaCategoria
		,projE.Ativo		 
	from ProjetoEquipe projE
	inner join Projeto proj
		on projE.codprojeto = proj.codprojeto
	inner join Pessoa pes
		on pes.CodPessoa = projE.CodPessoa		
	inner join PessoaCategoria pesCat
		on pesCat.CodPessoaCategoria = pes.CodPessoaCategoria
	where projE.CodProjeto = @CodProjeto
  		
END
GO
