USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_PESSOA_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_PESSOA_OBTER]
(
	@CodTipoPessoa int 
)
AS
BEGIN

  IF (@CodTipoPessoa = 0)
  begin	
	set @CodTipoPessoa = NULL	
  end	

	SELECT 
		 CodTipoPessoa
		,Descricao
	FROM TipoPessoa
	where CodTipoPessoa= @CodTipoPessoa
  		
END

 
GO
