USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_AGENDA_STATUS_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_AGENDA_STATUS_LISTAR]
 
AS
BEGIN
 
	SELECT 
		CodAgendaStatus
       ,Descricao
    FROM AgendaStatus
	ORDER BY Descricao
  		
END

 
GO
