USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_EQUIPE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_PESSOA_EQUIPE_LISTAR] 
(
	@CodProjeto int
)
AS
BEGIN

	select 
		 PES.[CodPessoa]
		,TPC.CodPessoaCategoria
		,TPC.Descricao as DescPessoaCategoria
		,TPP.CodTipoPessoa
		,TPP.Descricao AS DescTipoPessoa
		,PES.CpfCnpj
		,TPC.Sigla + ' - ' + pes.Nome as Nome       
		,PES.Observacao
		,PES.Email
		,PES.Ativo
		,PES.Quem
	from ProjetoEquipe	PRJEQ
	inner join Pessoa PES
		on PES.CodPessoa = PRJEQ.CodPessoa 
	INNER JOIN PessoaCategoria  TPC
		ON PES.CodPessoaCategoria = TPC.CodPessoaCategoria
	INNER JOIN TipoPessoa TPP
		ON PES.CodTipoPessoa = TPP.CodTipoPessoa
	where CodProjeto = @CodProjeto
	   
END
GO
