USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PESSOA_EXCLUIR] 
(
	  @CodPessoa INT 
	 ,@Quem		 VARCHAR(6) 
)
AS
BEGIN

	IF NOT EXISTS(
					select top 1 * 
					from Pessoa pes
					inner join ProjetoEquipe prjE
						on pes.CodPessoa = prjE.CodPessoa
					inner join Projeto prj
						on prj.CodProjeto = prjE.CodProjeto
					where pes.CodPessoa = @CodPessoa
						and prjE.Ativo = 1
				)
	begin

		update Pessoa
		set Ativo = 0
		where CodPessoa = @CodPessoa 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Pessoa WHERE CodPessoa = @CodPessoa for xml auto)
	
		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Pessoa', @VlrOriginal, 'D', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		select 0 as retorno

	end
	else
	begin

		-- nao pode inativar pessoa
		select 99 as retorno

	end
	
END
GO
