USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CLIENTE_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   

CREATE PROCEDURE [dbo].[P_CLIENTE_EXCLUIR]   
(
	 @CodCliente int 
	,@Quem					varchar(6)
)
AS
BEGIN


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM cliente WHERE CodCliente = @CodCliente for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Cliente', @VlrOriginal, 'D', @Quem 


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	
	--SE CLIENTE ESTIVER EM ALGUM PROJETO
	-- INATIVO ELE, SENAO EXCLUO O CLIENTE
	
	IF NOT EXISTS(
					select top 1 * from Projeto
					where CodCliente = 1
					and Ativo = 1
				 )
	begin

		update Cliente
		set Ativo = 0
		where CodCliente = @CodCliente

		select 1 as retorno

	end
	else
	begin

		select 99 as retorno

	end
	
	--select 
	--	* 
	--	into #tmpContato
	--from ClienteContato 	
	--where CodCliente = @CodCliente			   
	
	--delete from ClienteContato where CodCliente = @CodCliente	
	--delete from Contato where CodContato IN(select CodContato from #tmpContato where CodCliente = @CodCliente)
	
	--select 
	--* 
	--into #tmpEndereco
	--from ClienteEndereco 	
	--where CodCliente = @CodCliente	

	--delete from ClienteEndereco where CodCliente = @CodCliente	
	--delete from Endereco where CodEndereco IN(select CodEndereco from #tmpEndereco where CodCliente = @CodCliente)
	
	--delete from Cliente where CodCliente = @CodCliente
	
	
	--drop table #tmpContato
	--drop table #tmpEndereco
	  		
END

 
GO
