USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CCT_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_TIPO_CCT_LISTAR]
 
AS
BEGIN
 
	SELECT 
		 CodTipoCCT
		,Descricao
	FROM TipoCCT
	 order by Descricao
  		
END

 
GO
