USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_EMPRESA_EXCLUIR]
(
	  @CodEmpresa	int	
	 ,@Quem					VARCHAR(6)
)
AS
BEGIN

	--validar se este id esta sendo usado em algum cadastro
 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Empresa WHERE CodEmpresa = @CodEmpresa for xml auto)

	

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Empresa', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	
 
 	DELETE FROM Empresa
	where CodEmpresa = @CodEmpresa
  		

	
END

 
GO
