USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_TAREFA_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_STATUS_TAREFA_LISTAR_FILTRO]
(
	 @CodStatusTarefa int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodStatusTarefa = 0)
	begin	
		set @CodStatusTarefa = NULL	
	end	
		

	SELECT 
		 CodStatusTarefa
		,Descricao
	FROM StatusTarefa
	where (
			@CodStatusTarefa IS NULL				
			OR  CodStatusTarefa = @CodStatusTarefa
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
