USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_CATEGORIA_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PESSOA_CATEGORIA_LISTAR] 
AS
BEGIN

	SELECT 
		CodPessoaCategoria
		,Descricao
		,Sigla
	FROM PessoaCategoria
	  		
END 
GO
