USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PESSOA_OBTER]  
(
	@CodPessoa int 
)
AS
BEGIN

  IF (@CodPessoa = 0)
  begin	
	set @CodPessoa = NULL	
  end	
		
  SELECT 
	   PES.[CodPessoa]
	  ,TPC.CodPessoaCategoria
	  ,TPC.Descricao as DescPessoaCategoria
	  ,TPP.CodTipoPessoa
	  ,TPP.Descricao AS DescTipoPessoa
	  ,PES.CpfCnpj
	  ,PES.Nome       
      ,PES.Observacao
	  ,PES.Email
      ,PES.Ativo
      ,PES.Quem
  FROM Pessoa PES
	INNER JOIN PessoaCategoria  TPC
		ON PES.CodPessoaCategoria = TPC.CodPessoaCategoria
	INNER JOIN TipoPessoa TPP
		ON PES.CodTipoPessoa = TPP.CodTipoPessoa 
  where CodPessoa = @CodPessoa
  		
END
GO
