USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_SPRINT_LISTAR] 
(
	 @CodProjeto int
)
AS
BEGIN
  
	SELECT 
		prjS.CodProjetoSprint
       ,prjS.CodProjeto
       ,prjS.CodStatusSprint
	   ,Sprj.Descricao			as DescStatusSprint
       ,prjS.Titulo
       ,prjS.Objetivo
       ,prjS.SequenciaSprint
       ,prjS.DtInicioPrevisto
       ,prjS.DtTerminoPrevisto
       ,prjS.DtInicioRealizado
       ,prjS.DtTerminoRealizado
       ,prjS.Quem      
  FROM ProjetoSprint prjS
  INNER JOIN Projeto prj
	ON prjs.CodProjeto = prj.CodProjeto 
		AND prj.Ativo = 1
  INNER JOIN StatusSprint Sprj
	ON Sprj.CodStatusSprint = prjS.CodStatusSprint
  where prjS.CodProjeto = @CodProjeto
  order by	prjS.SequenciaSprint

  		
END
GO
