USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFA_ARQUIVOS_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[P_PROJETO_TAREFA_ARQUIVOS_LISTAR]  
(
	 @CodProjeto int	
	,@CodProjetoSprint int
	,@CodProjetoTarefa int	
)
AS
BEGIN

	SELECT
		  parq.CodProjetoArquivo
		 ,parq.CodProjeto
		 ,projS.CodProjetoSprint
		 ,parq.CodProjetoTarefa
		 ,parq.CodArquivo
		 ,arq.Nome
		 ,arq.Arquivo
		 ,arq.Titulo
		 ,arq.ContentType
		 ,arq.Ativo
		 ,parq.Data
		 ,parq.Observacao
		 ,projS.Titulo as TituloSprint
		 ,projT.Titulo as TituloTarefa
	FROM ProjetoArquivo parq
	inner join Arquivos  arq
		on arq.CodArquivo = parq.CodArquivo
	inner join ProjetoTarefa projT
		on projT.CodProjetoTarefa = parq.CodProjetoTarefa
	inner join ProjetoSprint projS
		on projS.CodProjetoSprint = projT.CodProjetoSprint
   where parq.CodProjeto = @CodProjeto
		and parq.CodProjetoSprint = @CodProjetoSprint
		and parq.CodProjetoTarefa = @CodProjetoTarefa
	ORder by parq.Data desc


END
GO
