USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SOCIO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[P_SOCIO_OBTER]  
(
	@CodSocio int 
)
AS
BEGIN

  IF (@CodSocio = 0)
  begin	
	set @CodSocio = NULL	
  end	
		
  SELECT 
	 soc.CodSocio
	,soc.Nome
	,soc.Cpf
	,soc.Observacao
  FROM Socios soc	
  where soc.CodSocio = @CodSocio
  		
END
GO
