USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_SOCIO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_EMPRESA_SOCIO_EXCLUIR]
(
	 @CodEmpresa    int
	,@CodSocio       int
	,@Quem			VARCHAR(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaSocios WHERE CodEmpresa = @CodEmpresa and CodSocio = @CodSocio for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaSocios', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	
 
 	DELETE FROM EmpresaSocios
	where CodEmpresa = @CodEmpresa
		and CodSocio = @CodSocio
	
END

 
GO
