USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PROJETO_EXCLUIR]
(
	 @CodProjeto			int	
	,@Quem					varchar(6)
)
AS
BEGIN


		UPDATE Projeto
			set Ativo = 0
		WHERE CodProjeto = @CodProjeto

	    --*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Projeto WHERE CodProjeto = @CodProjeto for xml auto)		

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Projeto', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		


END

 
GO
