USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CONTATO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_CONTATO_OBTER]
(
	@CodTipoContato int 
)
AS
BEGIN

  IF (@CodTipoContato = 0)
  begin	
	set @CodTipoContato = NULL	
  end	

	SELECT 
		 CodTipoContato
		,Descricao
	FROM TipoContato
	where CodTipoContato= @CodTipoContato
  		
END

 
GO
