USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_CONVENCAO_LISTAR]
(
	 @NomeConvencao			varchar(100)	= null
	,@CodTipoCCT			INT				= null	
	,@CodStatusCCT			INT				= null
	,@AnoVigenciaInicial	varchar(4)		= null	
	,@AnoVigenciaFinal		varchar(4)		= null
)
AS
BEGIN 

	IF (@CodTipoCCT = 0)
	begin	
		set @CodTipoCCT = NULL	
	end	

	IF (@CodStatusCCT = 0)
	begin	
		set @CodStatusCCT = NULL	
	end	

	SELECT 
		 con.CodConvencao
		,tp.CodTipoCCT
		,tp.Descricao		as DescTipoCCT
		,st.CodStatusCCT
		,st.Descricao		as DescStatusCCT
		,con.NomeConvencao
		,con.AnoVigenciaInicial
		,con.AnoVigenciaFinal
		,con.Observacao
		,con.CCTAssinada
		,con.Ativo		
		,con.Quem
	FROM Convencao con
		inner join TipoCCT tp
			on con.CodTipoCCT = tp.CodTipoCCT 
		inner join StatusCCT st
			on con.CodStatusCCT = st.CodStatusCCT		
	where 
		(
			@CodTipoCCT IS NULL				
			OR  tp.CodTipoCCT = @CodTipoCCT
		)
	AND (
			@CodStatusCCT IS NULL				
			OR  st.CodStatusCCT = @CodStatusCCT
		)
    AND (
		@NomeConvencao IS NULL
		OR UPPER(LTRIM(RTRIM(NomeConvencao))) LIKE '%' + UPPER(LTRIM(RTRIM(@NomeConvencao))) + '%'
		)
	AND (
		@AnoVigenciaInicial IS NULL
		OR UPPER(LTRIM(RTRIM(AnoVigenciaInicial))) LIKE '%' + UPPER(LTRIM(RTRIM(@AnoVigenciaInicial))) + '%'
		)
	AND (
		@AnoVigenciaFinal IS NULL
		OR UPPER(LTRIM(RTRIM(AnoVigenciaFinal))) LIKE '%' + UPPER(LTRIM(RTRIM(@AnoVigenciaFinal))) + '%'
		)
	order by AnoVigenciaInicial, AnoVigenciaFinal


END

 
GO
