USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SERVIDOR_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_SERVIDOR_LISTAR_FILTRO]
(
	 @CodInstituicao int = null
    ,@Usuario			varchar(6) 
)
AS
BEGIN


	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	
		
	
	SELECT 
		 senSer.CodSenhaServidor
		,senSer.CodInstituicao
		,inst.Descricao as  DescInstituicao
		,senSer.Usuario
		,senSer.Senha
		,senSer.IPPublico
		,senSer.IPPrivado
		,senSer.Observacao
		,senSer.Ativo
		,senSer.Quem
		,senSer.Quando
	FROM SenhaServidor senSer
	inner join Instituicao inst
		on inst.CodInstituicao = senSer.CodInstituicao 
	where (
			@CodInstituicao IS NULL				
			OR  senSer.CodInstituicao = @CodInstituicao
		)
   AND senSer.Quem = @Usuario
		--@link IS NULL
		--OR UPPER(LTRIM(RTRIM(link))) LIKE '%' + UPPER(LTRIM(RTRIM(@link))) + '%'
		--)
	order by CodSenhaServidor  	


END
GO
