USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CONVENCAO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_EMPRESA_CONVENCAO_EXCLUIR]
(
	 @CodEmpresa    int
	,@CodConvencao       int
	,@Quem			VARCHAR(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaConvencao WHERE CodEmpresa = @CodEmpresa and CodConvencao = @CodConvencao for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaConvencao', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	
 
 	DELETE FROM EmpresaConvencao
	where CodEmpresa = @CodEmpresa
		and CodConvencao = @CodConvencao
	
END

 
GO
