USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_SENHA_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_SENHA_LISTAR_FILTRO]
(
	 @CodTipoSenha int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodTipoSenha = 0)
	begin	
		set @CodTipoSenha = NULL	
	end	
		

	SELECT 
		 CodTipoSenha
		,Descricao
	FROM TipoSenha
	where (
			@CodTipoSenha IS NULL				
			OR  CodTipoSenha = @CodTipoSenha
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
