USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_RAMO_ATIVIDADE_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_RAMO_ATIVIDADE_EXCLUIR]
(
	 @CodRamoAtividade INT    	
	 ,@Quem				VARCHAR(6)
)
AS
BEGIN




	IF NOT EXISTS(	
					select cli.CodRamoAtividade
					from RamoAtividade ram
					inner join Cliente cli
					on ram.CodRamoAtividade = cli.CodRamoAtividade
					where cli.CodRamoAtividade = @CodRamoAtividade
				)
	Begin
	 	
		IF(@CodRamoAtividade <> 1)
		BEGIN

			
			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************
		
			DECLARE @VlrOriginal XML
			SET @VlrOriginal = (SELECT * FROM RamoAtividade WHERE CodRamoAtividade = @CodRamoAtividade for xml auto)

			EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'RamoAtividade', @VlrOriginal, 'D', @Quem 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************

			DELETE FROM RamoAtividade 
			Where CodRamoAtividade = @CodRamoAtividade



		END
	End
	ELSE
	Begin
	 

	 SELECT 0 'CodRamoAtividade'

	End

END
GO
