USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SITE_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_SITE_ALTERAR]
(
     @CodSenhaSite		int
	,@CodInstituicao	int
	,@Link				varchar(255) 
	,@Usuario			varchar(100)
	,@Senha				varchar(100)
	,@RecoveryCode		varchar(100) = null
	,@Observacao		varchar(255) = null
	,@Ativo				bit
	,@Quem				varchar(6)	
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaSite WHERE CodSenhaSite = @CodSenhaSite for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaSite', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

	UPDATE SenhaSite
	SET 
		 CodInstituicao = @CodInstituicao
		,Link			= @Link
		,Usuario		= @Usuario
		,Senha			= @Senha
		,RecoveryCode	= @RecoveryCode
		,Observacao		= @Observacao
		,Ativo			= @Ativo
		,Quem			= @Quem
		,Quando			= getdate()
	WHERE CodSenhaSite = @CodSenhaSite
	  

END
GO
