USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_BANCO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_BANCO_LISTAR_FILTRO]
(
	 @CodBanco int = null
    ,@NomeBanco varchar(100) = null
)
AS
BEGIN

	IF (@CodBanco = 0)
	begin	
		set @CodBanco = NULL	
	end	
		

	SELECT 
		 CodBanco
		,NumeroBanco
		,NomeBanco		
	FROM Banco	 
	where (
			@CodBanco IS NULL				
			OR  CodBanco = @CodBanco
		)
    AND (
		@NomeBanco IS NULL
		OR UPPER(LTRIM(RTRIM(NomeBanco))) LIKE '%' + UPPER(LTRIM(RTRIM(@NomeBanco))) + '%'
		)
	order by NomeBanco


END

 
GO
