USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_SENHA_BANCO_INSERIR]
(
	 @CodInstituicao	int
	,@CodBanco			int
	,@CodContaTipo		int
	,@NumAgencia		varchar(80)
	,@NumConta			varchar(80)
	,@CpfTitular		varchar(14)
	,@SenhaEletronica	varchar(80)
	,@Observacao		varchar(255) = NULL
	,@Ativo				bit
	,@Quem				varchar(6)	 
)
AS
BEGIN

	
	INSERT INTO SenhaBanco
	(
		 CodInstituicao
		,CodBanco
		,CodContaTipo
		,NumAgencia
		,NumConta
		,CpfTitular
		,SenhaEletronica
		,Observacao
		,Ativo
		,Quem
		,Quando
	)
	VALUES
	(
		 @CodInstituicao
		,@CodBanco
		,@CodContaTipo
		,@NumAgencia
		,@NumConta
		,@CpfTitular
		,@SenhaEletronica
		,@Observacao
		,@Ativo
		,@Quem
		,GETDATE()
	)


	SELECT @@IDENTITY AS 'CodSenhaBanco';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaBanco order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaBanco', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 



END
GO
