USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CCT_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE [dbo].[P_TIPO_CCT_EXCLUIR]
(
	  @CodTipoCCT INT    		 
)
AS
BEGIN


		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoCCT WHERE CodTipoCCT = @CodTipoCCT for xml auto)
				 
		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoCCT', @VlrOriginal, 'D', 'cd0001' 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		DELETE FROM TipoCCT 
		Where CodTipoCCT = @CodTipoCCT


	--IF NOT EXISTS(	
	--				select * from Projeto proj
	--				inner join StatusProjeto stproj
	--				on stproj.CodStatusProjeto = proj.CodStatusProjeto
	--				where proj.CodStatusProjeto = @CodStatusProjeto		
	--			)
	--Begin
	 	
	--	IF(@CodStatusProjeto <> 2)
	--	begin
				
	--		--*********************************************
	--		--*************** AREA DE LOG   ***************
	--		--*********************************************
		
	--		DECLARE @VlrOriginal XML
	--		SET @VlrOriginal = (SELECT * FROM StatusProjeto WHERE CodStatusProjeto = @CodStatusProjeto for xml auto)
				 
	--		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusProjeto', @VlrOriginal, 'D', @Quem 

	--		--*********************************************
	--		--*************** AREA DE LOG   ***************
	--		--*********************************************

	--		DELETE FROM StatusProjeto 
	--		Where CodStatusProjeto = @CodStatusProjeto


	--	end
	--End
	--ELSE
	--Begin
	--	SELECT 0 'CodStatusProjeto'
	--End

END
GO
