USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_FTP_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_FTP_LISTAR]
(
	@Usuario			varchar(6) 
)
AS
BEGIN


	SELECT 
		 senFt.CodSenhaFTP
		,senFt.CodInstituicao
		,inst.Descricao as DescInstituicao
		,senFt.Host
		,senFt.Porta
		,senFt.Link
		,senFt.Usuario
		,senFt.Senha
		,senFt.PastaRaiz
		,senFt.Observacao
		,senFt.Ativo
		,senFt.Quem
	FROM SenhaFTP senFt
	inner join Instituicao inst
		on inst.CodInstituicao = senFt.CodInstituicao 
	where senFt.Quem = @Usuario	

END
GO
