USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_ENDERECO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_TIPO_ENDERECO_EXCLUIR]
(
	 @CodTipoEndereco INT   
	 ,@Quem							varchar(6) 	
)
AS
BEGIN




	IF NOT EXISTS(	
					select * from Endereco endr
					inner join TipoEndereco endrT
					on endr.CodTipoEndereco = endrT.CodTipoEndereco
					where endrT.CodTipoEndereco = @CodTipoEndereco					
				)
	Begin
	 	

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoEndereco WHERE CodTipoEndereco = @CodTipoEndereco for xml auto)
		  
		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoEndereco', @VlrOriginal, 'D', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DELETE FROM TipoEndereco 
		Where CodTipoEndereco = @CodTipoEndereco

	End
	ELSE
	Begin
	 

	 SELECT 0 'CodTipoEndereco'

	End

END
GO
