USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CCT_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_TIPO_CCT_LISTAR_FILTRO]
(
	 @CodTipoCCT int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodTipoCCT = 0)
	begin	
		set @CodTipoCCT = NULL	
	end	
		

	SELECT 
		 CodTipoCCT
		,Descricao
	FROM TipoCCT
	where (
			@CodTipoCCT IS NULL				
			OR  CodTipoCCT = @CodTipoCCT
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
