USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CONTABILIDADE_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_EMPRESA_CONTABILIDADE_EXCLUIR]
(
	 @CodEmpresa    int
	,@CodContabilidade       int
	,@Quem			VARCHAR(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaContabilidade WHERE CodEmpresa = @CodEmpresa and CodContabilidade = @CodContabilidade for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaContabilidade', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	
 
 	DELETE FROM EmpresaContabilidade
	where CodEmpresa = @CodEmpresa
		and CodContabilidade = @CodContabilidade
	
END

 
GO
