USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTA_TIPO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_CONTA_TIPO_LISTAR_FILTRO]
(
	 @CodContaTipo int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodContaTipo = 0)
	begin	
		set @CodContaTipo = NULL	
	end	
		

	SELECT 
		 CodContaTipo
		,Descricao
	FROM ContaTipo
	where (
			@CodContaTipo IS NULL				
			OR  CodContaTipo = @CodContaTipo
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
