USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CONTATO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_TIPO_CONTATO_EXCLUIR]
(
	 @CodTipoContato INT    	
	 ,@Quem				VARCHAR(6) 
)
AS
BEGIN




	IF NOT EXISTS(	
					select * from Contato con
					inner join TipoContato conT
					on con.CodTipoContato = conT.CodTipoContato
					where conT.CodTipoContato = @CodTipoContato					
				)
	Begin 

		
		 --*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoContato WHERE CodTipoContato = @CodTipoContato
		and CodTipoContato <> 9 for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoContato', @VlrOriginal, 'D', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		DELETE FROM TipoContato 
		Where CodTipoContato = @CodTipoContato
		and CodTipoContato <> 9 --9	Contato Pedido

		
	End
	ELSE
	Begin
	 

	 SELECT 0 'CodTipoContato'

	End

END
GO
