USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SOCIO_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[P_SOCIO_LISTAR] 
(
	@CodSocio	int				= null
   ,@Nome		varchar(150)	= null
   ,@Cpf		varchar(14)		= null
)
AS
BEGIN

	IF (@CodSocio = 0)
	begin	
		set @CodSocio = NULL	
	end	

	IF (@Nome = '')
	begin	
		set @Nome = NULL	
	end	

	IF (@Cpf = '')
	begin	
		set @Cpf = NULL	
	end	
	 

  SELECT 
	 soc.CodSocio
	,soc.Nome
	,soc.Cpf
	,soc.Observacao
  FROM Socios soc	   
  where (
			@CodSocio IS NULL				
			OR soc.CodSocio = @CodSocio
		)
    AND (
		@Nome IS NULL
		OR UPPER(LTRIM(RTRIM(soc.Nome))) LIKE '%' + UPPER(LTRIM(RTRIM(@Nome))) + '%'
		)
	AND (
		@Cpf IS NULL
		OR UPPER(LTRIM(RTRIM(soc.Cpf))) LIKE '%' + UPPER(LTRIM(RTRIM(@Cpf))) + '%'
		)
   
   
END
GO
