USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_INSTITUICAO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_INSTITUICAO_ALTERAR]
(
	 @CodInstituicao int
	,@Descricao		 Varchar(100)	
	,@Quem			 Varchar(6)	
)
AS
BEGIN

		UPDATE Instituicao
		Set Descricao = @Descricao
		WHERE CodInstituicao = @CodInstituicao

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Instituicao WHERE CodInstituicao = @CodInstituicao for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusProjeto', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
