USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_EMPRESA_OBTER]
(
	 @CodEmpresa	int
	,@Cnpj			varchar(18)	 = null
)
AS
BEGIN
	

	SELECT 
		 emp.CodEmpresa
		,emp.CodTipoPessoa
		,tp.Descricao         as DscTipoPessoa
		,emp.CodRamoAtividade
		,ra.Descricao         as DscRamoAtividade
		,emp.Cnpj
		,emp.RazaoSocial
		,emp.NomeFantasia
		,emp.DataCadastro
		,emp.DataAbertura
		,emp.InscricaoEstadual
		,emp.InscricaoMunicipal
		,emp.Sindicalizada
		,emp.EhMatrizFilial
		,emp.QuantidadeFUncionarios
		,emp.ValorTotalFolha
		,emp.CapitalSocial
		,emp.Observacao
		,emp.Ativo             
	FROM dbo.Empresa emp
	inner join RamoAtividade ra
		on emp.CodRamoAtividade = ra.CodRamoAtividade
	inner join TipoPessoa tp
		on emp.CodTipoPessoa = tp.CodTipoPessoa
	where (
			@CodEmpresa IS NULL				
			OR  emp.CodEmpresa = @CodEmpresa
		)    
	AND (
		@Cnpj IS NULL
		OR UPPER(LTRIM(RTRIM(emp.Cnpj))) LIKE '%' + UPPER(LTRIM(RTRIM(@Cnpj))) + '%'
		)
	order by emp.CodEmpresa  		


END
 
GO
