USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCODADOS_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_SENHA_BANCODADOS_INSERIR]
(
	 @CodInstituicao		int
	,@NomeInstancia			varchar(100)
	,@UsuarioInstancia		varchar(100)
	,@SenhaInstancia		varchar(100)
	,@NomeServer			varchar(100)
	,@NomeDatabase			varchar(100)
	,@Usuario				varchar(100)
	,@Senha					varchar(100)
	,@Observacao			varchar(255) = NULL
	,@Ativo					bit
	,@Quem					varchar(6) 
)
AS
BEGIN

	
	INSERT INTO SenhaBancoDados
    (	
		 CodInstituicao
		,NomeInstancia
		,UsuarioInstancia
		,SenhaInstancia
		,NomeServer
		,NomeDatabase
		,Usuario
		,Senha
		,Observacao
		,Ativo
		,Quem
		,Quando
	 )
     VALUES
     (
		 @CodInstituicao
        ,@NomeInstancia
        ,@UsuarioInstancia
        ,@SenhaInstancia
        ,@NomeServer
        ,@NomeDatabase
        ,@Usuario
        ,@Senha
        ,@Observacao
        ,@Ativo
        ,@Quem
        ,GETDATE()
	)


	SELECT @@IDENTITY AS 'CodSenhaBancoDados';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaBancoDados order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaBancoDados', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 



END
GO
