USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_PROJETO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_STATUS_PROJETO_OBTER]
(
	@CodStatusProjeto int 
)
AS
BEGIN

  IF (@CodStatusProjeto = 0)
  begin	
	set @CodStatusProjeto = NULL	
  end	

	SELECT 
		 CodStatusProjeto
		,Descricao
	FROM StatusProjeto
	where CodStatusProjeto= @CodStatusProjeto
  		
END

 
GO
