USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CLIENTE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_CLIENTE_LISTAR] 
(
	@CodCliente int = null
   ,@Nome varchar(150) = null
   ,@NomeFantasia varchar(100) = null
)
AS
BEGIN

	IF (@CodCliente = 0)
	begin	
		set @CodCliente = NULL	
	end	

	IF (@Nome = '')
	begin	
		set @Nome = NULL	
	end	

	IF (@NomeFantasia = '')
	begin	
		set @NomeFantasia = NULL	
	end	
	 

  SELECT 
	   CLI.CodCliente
	  ,TPP.CodTipoPessoa
	  ,TPP.Descricao AS DescTipoPessoa
	  ,RAM.CodRamoAtividade
	  ,RAM.Descricao as DescRamoAtividade
	  ,CLI.CpfCnpj
	  ,CLI.Nome       
      ,CLI.NomeFantasia
	  ,CLI.CadastroDesde
	  ,CLI.InscricaoEstadual
      ,CLI.InscricaoMunicipal
      ,CLI.InformacoesAdd
      ,CLI.Ativo
      ,CLI.Quem
  FROM Cliente CLI
	INNER JOIN TipoPessoa TPP
		ON CLI.CodTipoPessoa = TPP.CodTipoPessoa 
	INNER JOIN RamoAtividade RAM
		ON CLI.CodRamoAtividade = RAM.CodRamoAtividade
  where (
			@CodCliente IS NULL				
			OR CLI.CodCliente = @CodCliente
		)
    AND (
		@Nome IS NULL
		OR UPPER(LTRIM(RTRIM(CLI.Nome))) LIKE '%' + UPPER(LTRIM(RTRIM(@Nome))) + '%'
		)
	AND (
		@NomeFantasia IS NULL
		OR UPPER(LTRIM(RTRIM(CLI.NomeFantasia))) LIKE '%' + UPPER(LTRIM(RTRIM(@NomeFantasia))) + '%'
		)
   
   
END
GO
