USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_ARQUIVOS_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PROJETO_ARQUIVOS_INSERIR]
(
	 @CodProjeto			int
	,@CodProjetoSprint		int = null
	,@CodProjetoTarefa		int = null
	,@CodArquivo	int
	,@Data			datetime
	,@Observacao	varchar(500) = null
	,@Quem			varchar(6)	
)
AS
BEGIN

	declare @CodIDENTITY int 

	IF (@CodProjetoSprint = 0)
	begin	
		set @CodProjetoSprint = NULL	
	end	

	IF (@CodProjetoTarefa = 0)
	begin	
		set @CodProjetoTarefa = NULL	
	end	

	INSERT INTO ProjetoArquivo
	(
		 CodProjeto
		,CodProjetoSprint
		,CodProjetoTarefa
		,CodArquivo
		,Data
		,Observacao
		,Quem
		,Quando
	)
	VALUES
	(
	 	 @CodProjeto
		,@CodProjetoSprint
		,@CodProjetoTarefa
		,@CodArquivo
		,GETDATE()
		,@Observacao
		,@Quem
		,GETDATE()
	)
	 
	 
	 
	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM ProjetoArquivo WHERE CodProjetoArquivo = @CodIDENTITY for xml auto)

	

	EXEC P_LOGSISTEMA_INCLUIR  3, 'ProjetoArquivo', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodProjetoArquivo' 
   
     

END
GO
