USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_CONTABILIDADE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE [dbo].[P_CONTATO_CONTABILIDADE_LISTAR]    
(
	@CodContabilidade int 
)
AS
BEGIN

  IF (@CodContabilidade = 0)
  begin	
	set @CodContabilidade = NULL	
  end	
		
	SELECT
		 CON.[CodContato]
		,ConCon.CodContabilidade
		,TCON.CodTipoContato
		,TCON.Descricao DescTipoContato
		,CON.[DDD]
		,CON.[Telefone]
		,CON.[Email]
	FROM ContabilidadeContato ConCon
	INNER JOIN Contabilidade Cont
		on ConCon.CodContabilidade = Cont.CodContabilidade
	INNER JOIN Contato CON
		on ConCon.CodContato = CON.CodContato
	INNER JOIN TipoContato TCON
		on TCON.CodTipoContato = CON.CodTipoContato
	where Cont.CodContabilidade = @CodContabilidade

  		
END

 
GO
