USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_SENHA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_TIPO_SENHA_EXCLUIR]
(
	 @CodTipoSenha INT    	
	 ,@Quem							varchar(6) 	
)
AS
BEGIN


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM TipoSenha WHERE CodTipoSenha = @CodTipoSenha for xml auto)
				 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoSenha', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************

	DELETE FROM TipoSenha 
	Where CodTipoSenha = @CodTipoSenha


END
GO
