USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SOCIO_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[P_SOCIO_INCLUIR] 
(
	 @Nome			VarChar(150) 
    ,@Cpf			VarChar(14) 
	,@Observacao	VarChar(255)	= NULL 
	,@Quem			VarChar(6)	
 )
AS
BEGIN

	--IF NOT EXISTS(SELECT CpfCnpj FROM dbo.[Cliente] WITH(NOLOCK)	WHERE CpfCnpj = @CpfCnpj or Nome = @Nome or NomeFantasia = @NomeFantasia)
	--Begin
	
		 
		INSERT INTO [dbo].[Socios]
		(
			 Nome
			,Cpf
			,Observacao
		)
		VALUES
		(
			 @Nome
			,@Cpf
			,@Observacao
		)

		SELECT @@IDENTITY AS 'CodSocio';
	
	 	
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT top 1 * FROM Socios order by 1 desc for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 1, @NmeTabela	=	'Socios', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************	 

	--End
	--ELSE
	--Begin
	 
	-- SELECT 0 as CodCliente
	 
	--End

END
GO
