USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SITE_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_SITE_INSERIR]
(
	 @CodInstituicao	int
	,@Link				varchar(255) 
	,@Usuario			varchar(100)
	,@Senha				varchar(100)
	,@RecoveryCode		varchar(100) = null
	,@Observacao		varchar(255) = null
	,@Ativo				bit
	,@Quem				varchar(6)	
)
AS
BEGIN

	
	INSERT INTO SenhaSite
    (
		 CodInstituicao
		,Link
		,Usuario
		,Senha
		,RecoveryCode
		,Observacao
		,Ativo
		,Quem
		,Quando
	 )
     VALUES
     (
		 @CodInstituicao	
		,@Link				
		,@Usuario			
		,@Senha				
		,@RecoveryCode		
		,@Observacao		
		,@Ativo				
		,@Quem				
		,getdate()
	)	


	SELECT @@IDENTITY AS 'CodSenhaSite';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaSite order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaSite', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 



END
GO
