USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTA_TIPO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_CONTA_TIPO_OBTER]
(
	 @CodContaTipo int  
)
AS
BEGIN

  IF (@CodContaTipo = 0)
  begin	
	set @CodContaTipo = NULL	
  end	

	SELECT 
		 CodContaTipo
		,Descricao
	FROM ContaTipo
	where CodContaTipo= @CodContaTipo
  		
END

 
GO
