USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFA_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_TAREFA_INSERIR]  
(
	 @CodProjeto			int				
	,@CodProjetoSprint		int				
	,@CodPessoa				int			
	,@CodStatusWorkflow		int
	,@CodStatusTarefa		int				
	,@Titulo				varchar(80)		
	,@Objetivo				varchar(200)	= NULL
	,@SequenciaTarefa		int				
	,@DtInicioPrevisto		datetime		
	,@DtTerminoPrevisto		datetime		
	,@DtInicioRealizado		datetime		= NULL
	,@DtTerminoRealizado	datetime		= NULL
	,@Quem					varchar(6)		
)
AS
BEGIN
  
	declare @SequenciaTarefaAux	int

	select @SequenciaTarefaAux = MAX(pt.SequenciaTarefa)
	from ProjetoTarefa pt
	where pt.CodProjetoSprint = @CodProjetoSprint
	
	set @SequenciaTarefaAux = ISNULL(@SequenciaTarefaAux, 0)

	INSERT INTO ProjetoTarefa
	(
		 CodProjeto			
		,CodProjetoSprint	
		,CodPessoa			
		,CodStatusWorkflow
		,CodStatusTarefa		
		,Titulo				
		,Objetivo			
		,SequenciaTarefa		
		,DtInicioPrevisto	
		,DtTerminoPrevisto	
		,DtInicioRealizado	
		,DtTerminoRealizado	
		,Quem				
		,Quando
	)
	VALUES
	(
		 @CodProjeto			
		,@CodProjetoSprint	
		,@CodPessoa			
		,@CodStatusWorkflow
		,@CodStatusTarefa		
		,@Titulo				
		,@Objetivo			
		,@SequenciaTarefaAux + 1		
		,@DtInicioPrevisto	
		,@DtTerminoPrevisto	
		,@DtInicioRealizado	
		,@DtTerminoRealizado	
		,@Quem
		,GETDATE()

	)

	SELECT @@IDENTITY AS 'CodProjetoTarefa';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM ProjetoTarefa order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoTarefa', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 
  		
END
GO
