USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_EMPRESA_ALTERAR]
(
	 @CodEmpresa    int
	,@CodCnae       int
	,@Primario      bit
	,@Secundario    bit
	,@Quem			varchar(6)
)
AS
BEGIN
 
    --*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaCnae WHERE CodEmpresa = @CodEmpresa and CodCnae = @CodCnae for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaCnae', @VlrOriginal, 'U', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	

	UPDATE EmpresaCnae
	SET  CodEmpresa     = @CodEmpresa
		,CodCnae        = @CodCnae
		,Primario       = @Primario
		,Secundario     = @Secundario
	WHERE CodEmpresa = @CodEmpresa
		and CodCnae = @CodCnae
	
END

 
GO
