USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
  
CREATE PROCEDURE [dbo].[P_CONTATO_ALTERAR]   
(
    @CodContato		int 
   ,@CodTipoContato int 
   ,@DDD			VARCHAR(3)
   ,@Telefone		VARCHAR(15) 
   ,@Email			VARCHAR(100) = NULL
   ,@Quem			VARCHAR(6) 
)
AS
BEGIN

	 UPDATE [dbo].[Contato]
	 SET [CodTipoContato] = @CodTipoContato
		  ,[DDD] = @DDD
		  ,[Telefone] = @Telefone
		  ,[Email] = @Email
	 WHERE  CodContato = @CodContato


		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Contato WHERE CodContato = @CodContato for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'Contato', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************	 

  		
END

 
GO
