USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SERVIDOR_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_SERVIDOR_ALTERAR]
(
     @CodSenhaServidor		int
	,@CodInstituicao		int
	,@Usuario				varchar(100)
	,@Senha					varchar(100)
	,@IPPublico				varchar(50)
	,@IPPrivado				varchar(50)
	,@Observacao			varchar(255) = null
	,@Ativo					bit
	,@Quem					varchar(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaServidor WHERE CodSenhaServidor= @CodSenhaServidor for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela = 'SenhaServidor', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

UPDATE SenhaServidor
   SET 
	   CodInstituicao	= @CodInstituicao 
      ,Usuario			= @Usuario 
      ,Senha			= @Senha 
      ,IPPublico		= @IPPublico 
      ,IPPrivado		= @IPPrivado 
      ,Observacao		= @Observacao 
      ,Ativo			= @Ativo
      ,Quem				= @Quem 
      ,Quando			= GETDATE()
 WHERE 	CodSenhaServidor= @CodSenhaServidor

END
GO
