USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_ARQUIVOS_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[P_PROJETO_SPRINT_ARQUIVOS_LISTAR] 
(
	 @CodProjeto int	
	,@CodProjetoSprint int	
)
AS
BEGIN

	SELECT
		  parq.CodProjetoArquivo
		 ,parq.CodProjeto
		 ,projS.CodProjetoSprint
		 ,parq.CodProjetoTarefa
		 ,parq.CodArquivo
		 ,arq.Nome
		 ,arq.Arquivo
		 ,arq.Titulo
		 ,arq.ContentType
		 ,arq.Ativo
		 ,parq.Data
		 ,parq.Observacao
		 ,projS.Titulo as TituloSprint
	FROM ProjetoArquivo parq
	inner join Arquivos  arq
		on arq.CodArquivo = parq.CodArquivo
	inner join ProjetoSprint projS
		on projS.CodProjetoSprint = parq.CodProjetoSprint
   where parq.CodProjeto = @CodProjeto
		and parq.CodProjetoSprint = @CodProjetoSprint
		and parq.CodProjetoTarefa is null
	ORder by parq.Data desc

END
GO
