USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CCT_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_TIPO_CCT_INSERIR]
(
	@Descricao Varchar(100)   
)
AS
BEGIN

	declare @CodIDENTITY int 

	INSERT INTO TipoCCT
	(
		Descricao
	)
	VALUES
	(
		@Descricao
	)
	 

	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM TipoCCT WHERE CodTipoCCT = @CodIDENTITY for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoCCT', @VlrOriginal, 'I', 'cd0001' 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodTipoCCT' 
   
     
  		
END

 
GO
