USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_CCT_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE  [dbo].[P_STATUS_CCT_ALTERAR]
(
	 @CodStatusCCT int
	,@Descricao Varchar(100)   
)
AS
BEGIN

	UPDATE StatusCCT
	Set Descricao = @Descricao
	WHERE CodStatusCCT = @CodStatusCCT


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM StatusCCT WHERE CodStatusCCT = @CodStatusCCT for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'StatusCCT', @VlrOriginal, 'U', 'cd0001' 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	 
   
     
  		
END

 
GO
