USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_FTP_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_FTP_INSERIR]
(
	 @CodInstituicao	int
	,@Host				varchar(100)
	,@Porta				varchar(80)
	,@Link				varchar(255)
	,@Usuario			varchar(100)
	,@Senha				varchar(100)
	,@PastaRaiz			varchar(255)
	,@Observacao		varchar(255) = null
	,@Ativo				bit
	,@Quem				varchar(6)
)
AS
BEGIN

	
	INSERT INTO SenhaFTP
    (
		 CodInstituicao
		,Host
		,Porta
		,Link
		,Usuario
		,Senha
		,PastaRaiz
		,Observacao
		,Ativo
		,Quem
		,Quando
	 )
     VALUES
    (
		 @CodInstituicao
		,@Host
		,@Porta
		,@Link
		,@Usuario
		,@Senha
		,@PastaRaiz
		,@Observacao
		,@Ativo
		,@Quem
		,getdate()
	)


	SELECT @@IDENTITY AS 'CodSenhaFTP';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaFTP order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaFTP', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 



END
GO
