USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_CLIENTE_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE PROCEDURE [dbo].[P_CONTATO_CLIENTE_EXCLUIR]   
(
	 @CodCliente int 
	,@CodContato int 	
	,@Quem					varchar(6)
)
AS
BEGIN


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM ClienteContato WHERE CodCliente = @CodCliente and CodContato = @CodContato for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'ClienteContato', @VlrOriginal, 'D', @Quem 

	SET @VlrOriginal = (SELECT * FROM Contato WHERE CodContato = @CodContato for xml auto)
	 
	EXEC P_LOGSISTEMA_INCLUIR  1, 'Contato', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	
	 
	DELETE FROM [dbo].[ClienteContato]
	WHERE CodCliente = @CodCliente and CodContato = @CodContato

	DELETE FROM [dbo].[Contato]
	WHERE CodContato = @CodContato

	  		
END

 
GO
