USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCODADOS_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_BANCODADOS_LISTAR_FILTRO]
(
	 @CodInstituicao	int = null
    ,@Usuario			varchar(6) 
)
AS
BEGIN

	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	
		
	
	SELECT 
	   senBcD.CodSenhaBancoDados
      ,senBcD.CodInstituicao
	  ,inst.Descricao	as DescInstituicao
      ,senBcD.NomeInstancia
      ,senBcD.UsuarioInstancia
      ,senBcD.SenhaInstancia
      ,senBcD.NomeServer
      ,senBcD.NomeDatabase
      ,senBcD.Usuario
      ,senBcD.Senha
      ,senBcD.Observacao
      ,senBcD.Ativo
      ,senBcD.Quem
    FROM SenhaBancoDados senBcD
	inner join Instituicao inst
		on inst.CodInstituicao = senBcD.CodInstituicao 
	where (
			@CodInstituicao IS NULL				
			OR  senBcD.CodInstituicao = @CodInstituicao
		)
    AND senBcD.Quem = @Usuario	
	--(
		--@NomeDatabase IS NULL
		--OR UPPER(LTRIM(RTRIM(NomeDatabase))) LIKE '%' + UPPER(LTRIM(RTRIM(@NomeDatabase))) + '%'
		--)
	order by Descricao  	


END
GO
