USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_FTP_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_FTP_LISTAR_FILTRO]
(
	 @CodInstituicao int = null
     ,@Usuario			varchar(6) 
)
AS
BEGIN


	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	
		
	
	SELECT 
		 senFt.CodSenhaFTP
		,senFt.CodInstituicao
		,inst.Descricao as DescInstituicao
		,senFt.Host
		,senFt.Porta
		,senFt.Link
		,senFt.Usuario
		,senFt.Senha
		,senFt.PastaRaiz
		,senFt.Observacao
		,senFt.Ativo
		,senFt.Quem
	FROM SenhaFTP senFt
	inner join Instituicao inst
		on inst.CodInstituicao = senFt.CodInstituicao 
	where (
			@CodInstituicao IS NULL				
			OR  senFt.CodInstituicao = @CodInstituicao
		)
   AND senFt.Quem = @Usuario	 
   --(
		--@link IS NULL
		--OR UPPER(LTRIM(RTRIM(link))) LIKE '%' + UPPER(LTRIM(RTRIM(@link))) + '%'
		--)
	order by Descricao  	


END
GO
