USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_INSTITUICAO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_INSTITUICAO_OBTER]
(
	@CodInstituicao int = null
)
AS
BEGIN

  

	SELECT 
		 CodInstituicao
		,Descricao
	FROM Instituicao	 
	where CodInstituicao= @CodInstituicao
  		
END

 
GO
