USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_CATEGORIA_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_PESSOA_CATEGORIA_INSERIR]
(
	 @Descricao varchar(80)	
	,@Sigla varchar(3)	
	,@Quem							varchar(6)	
)
AS
BEGIN

	declare @CodIDENTITY int 
 
	INSERT INTO PessoaCategoria
    ( 
		 Descricao
		,Sigla
	)
    VALUES
    (
		@Descricao
	  ,@Sigla
	) 


	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM PessoaCategoria WHERE CodPessoaCategoria = @CodIDENTITY for xml auto)
	 

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'PessoaCategoria', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodPessoaCategoria' 
   
     
	  		
END

 

	
	  		
 
GO
