USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CNAE_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE  [dbo].[P_EMPRESA_CNAE_INSERIR]
(
 	 @CodEmpresa    int
	,@CodCnae       int
	,@Primario      bit
	,@Secundario    bit
)
AS
BEGIN


	declare @CodIDENTITY int 

	INSERT INTO EmpresaCnae
    (
         [CodEmpresa]
        ,[CodCnae]
        ,[Primario]
        ,[Secundario]
    )
    VALUES
    (
         @CodEmpresa    
        ,@CodCnae       
        ,@Primario      
        ,@Secundario    
    ) 

	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaCnae WHERE CodEmpresa = @CodIDENTITY for xml auto)

		

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaCnae', @VlrOriginal, 'I', 'cd0001' 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodEmpresa'


END

 
GO
