USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_LISTAR_TOTAL_GERAL]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_CONVENCAO_LISTAR_TOTAL_GERAL]
AS
BEGIN 

	--Total Geral
	select count(*) as TotalGeral
	from convencao

END

 
GO
