USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_AGENDA_STATUS_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_AGENDA_STATUS_OBTER]
(
	 @CodAgendaStatus int  
)
AS
BEGIN

  IF (@CodAgendaStatus = 0)
  begin	
	set @CodAgendaStatus = NULL	
  end	

	SELECT 
		CodAgendaStatus
       ,Descricao
    FROM AgendaStatus
	where CodAgendaStatus= @CodAgendaStatus
  		
END

 
GO
