USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_AGENDA_STATUS_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_AGENDA_STATUS_LISTAR_FILTRO]
(
	 @CodAgendaStatus int = null
    ,@Descricao varchar(80) = null
)
AS
BEGIN

	IF (@CodAgendaStatus = 0)
	begin	
		set @CodAgendaStatus = NULL	
	end	
		

	SELECT 
		CodAgendaStatus
       ,Descricao
    FROM AgendaStatus
	where (
			@CodAgendaStatus IS NULL				
			OR  CodAgendaStatus = @CodAgendaStatus
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
