USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_CONTABILIDADE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE [dbo].[P_ENDERECO_CONTABILIDADE_LISTAR]   
(
	@CodContabilidade int 
)
AS
BEGIN

  IF (@CodContabilidade = 0)
  begin	
	set @CodContabilidade = NULL	
  end	
		
	SELECT
	   ENDR.CodEndereco
	  ,CLI.CodContabilidade	
      ,TEND.CodTipoEndereco
	  ,TEND.Descricao descTipoEndereco
      ,ENDR.Cep
      ,ENDR.Logradouro
      ,ENDR.Numero
      ,ENDR.Complemento
      ,ENDR.Bairro
      ,ENDR.Cidade
      ,ENDR.Estado  
	FROM ContabilidadeEndereco CLIEND
	INNER JOIN Contabilidade CLI
		on CLIEND.CodContabilidade = CLI.CodContabilidade
	INNER JOIN Endereco ENDR
		on CLIEND.CodEndereco = ENDR.CodEndereco
	INNER JOIN TipoEndereco TEND
		on TEND.CodTipoEndereco = ENDR.CodTipoEndereco
	where CLI.CodContabilidade = @CodContabilidade

  		
END

 
GO
