USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPOENDERECO_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_TIPOENDERECO_LISTAR] 
AS
BEGIN

	SELECT  [CodTipoEndereco]
      ,[Descricao]
  FROM [dbo].[TipoEndereco]
	  		
END

GO
