USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_SPRINT_ALTERAR]  
(
	 @CodProjetoSprint		int 
	,@CodProjeto			int 
	,@CodStatusSprint		int
	,@Titulo				varchar(200)
	,@Objetivo				varchar(200)
	,@SequenciaSprint		int
	,@DtInicioPrevisto		datetime
	,@DtTerminoPrevisto		datetime
	,@DtInicioRealizado		datetime = NULL
	,@DtTerminoRealizado	datetime = NULL
	,@Quem					varchar(6)

)
AS
BEGIN
  
  	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM ProjetoSprint where CodProjetoSprint = @CodProjetoSprint for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoSprint', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 


	UPDATE [dbo].[ProjetoSprint]
	SET 
		 CodProjeto			= @CodProjeto
		,CodStatusSprint	= @CodStatusSprint
		,Titulo				= @Titulo
		,Objetivo			= @Objetivo
		,SequenciaSprint	= @SequenciaSprint
		,DtInicioPrevisto	= @DtInicioPrevisto
		,DtTerminoPrevisto	= @DtTerminoPrevisto
		,DtInicioRealizado	= @DtInicioRealizado
		,DtTerminoRealizado	= @DtTerminoRealizado
		,Quem				= @Quem
		,Quando				= getdate()
	WHERE CodProjetoSprint = @CodProjetoSprint

  		
END
GO
