USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_ENDERECO_ALTERAR]   
(
	 @CodEndereco		int 
	,@CodTipoEndereco	int 
	,@Cep				varchar(9) 
	,@Logradouro		varchar(150)
	,@Numero			varchar(5)
	,@Complemento		varchar(100)	= null
	,@Bairro			varchar(80)		= null
	,@Cidade			varchar(80)		= null
	,@Estado			varchar(80)		= null
	,@Quem				VARCHAR(6) 
)
AS
BEGIN

	UPDATE [dbo].[Endereco]
	SET [CodTipoEndereco] = @CodTipoEndereco
		,[Cep] = @Cep
		,[Logradouro] = @Logradouro
		,[Numero] = @Numero
		,[Complemento] = @Complemento
		,[Bairro] = @Bairro
		,[Cidade] = @Cidade
		,[Estado] = @Estado
	WHERE 	CodEndereco	= @CodEndereco		  


	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Endereco WHERE CodEndereco	= @CodEndereco for xml auto)

	

	EXEC P_LOGSISTEMA_INCLUIR  1, 'Endereco', @VlrOriginal, 'U', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
  		
END

 
GO
