USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CONTATO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_CONTATO_INSERIR]
(
	@Descricao Varchar(150)
	,@Quem							varchar(6)	

)
AS
BEGIN


declare @CodIDENTITY int 

	Declare @CodTipoContato int

	SELECT @CodTipoContato = CodTipoContato
	FROM TipoContato  
	WHERE Descricao = @Descricao 
	 
	if @CodTipoContato is null
	begin
		set @CodTipoContato = 0
	end
	

	IF NOT EXISTS(
					SELECT * FROM TipoContato  
					WHERE Descricao = @Descricao
				 )
	BEGIN

		if @CodTipoContato <> 9	 
		begin

			INSERT INTO TipoContato
			(
				Descricao
			)
			VALUES
			(
				@Descricao
			)

			set @CodIDENTITY = @@IDENTITY 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************
		
			DECLARE @VlrOriginal XML
			SET @VlrOriginal = (SELECT * FROM TipoContato WHERE CodTipoContato = @CodIDENTITY for xml auto)

			EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoContato', @VlrOriginal, 'I', @Quem 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************


			select @CodIDENTITY AS 'CodTipoContato' 
    end

	END
	ELSE
	BEGIN

		 SELECT -1 AS 'CodTipoContato';

	END
  		
END
GO
