USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_PROJETO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_STATUS_PROJETO_LISTAR_FILTRO]
(
	 @CodStatusProjeto int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodStatusProjeto = 0)
	begin	
		set @CodStatusProjeto = NULL	
	end	
		

	SELECT 
		 CodStatusProjeto
		,Descricao
	FROM StatusProjeto
	where (
			@CodStatusProjeto IS NULL				
			OR  CodStatusProjeto = @CodStatusProjeto
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
