USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [dbo].[P_CONTATO_OBTER]    
(
	@CodContato int 
)
AS
BEGIN

  IF (@CodContato = 0)
  begin	
	set @CodContato = NULL	
  end	


	SELECT
		CON.CodContato
		,CLICON.CodCLiente
		,TCON.CodTipoContato
		,TCON.Descricao DescTipoContato
		,CON.[DDD]
		,CON.[Telefone]
		,CON.[Email]
	FROM Contato CON
	LEFT JOIN ClienteContato CLICON
		on CON.CodContato = CLICON.CodContato 
	INNER JOIN TipoContato TCON
		on TCON.CodTipoContato = CON.CodTipoContato
	where CON.CodContato = @CodContato
  		
END

 
GO
