USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCODADOS_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_BANCODADOS_EXCLUIR]
(
     @CodSenhaBancoDados	int
	,@Quem					varchar(6)	
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaBancoDados WHERE CodSenhaBancoDados = @CodSenhaBancoDados for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaBancoDados', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'D', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

	UPDATE SenhaBancoDados
	SET 
		 Ativo			= 0
		,Quem			= @Quem
		,Quando			= getdate()
	WHERE CodSenhaBancoDados = @CodSenhaBancoDados
	  

END
GO
