USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_SPRINT_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_STATUS_SPRINT_OBTER]
(
	@CodStatusSprint int 
)
AS
BEGIN

  IF (@CodStatusSprint = 0)
  begin	
	set @CodStatusSprint = NULL	
  end	

	SELECT 
		 CodStatusSprint
		,Descricao
	FROM StatusSprint
	where CodStatusSprint= @CodStatusSprint
  		
END

 
GO
