USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_EQUIPE_INATIVAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_PROJETO_EQUIPE_INATIVAR] 
(
	  @CodProjetoEquipe INT 
	 ,@Quem				VARCHAR(6) 
)
AS
BEGIN

	update ProjetoEquipe
	set Ativo = 0
	where CodProjetoEquipe = @CodProjetoEquipe 

	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM ProjetoEquipe WHERE CodProjetoEquipe = @CodProjetoEquipe for xml auto)
	
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'ProjetoEquipe', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************

END
GO
