USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCODADOS_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_SENHA_BANCODADOS_ALTERAR]
(
	 @CodSenhaBancoDados	int
	,@CodInstituicao		int
	,@NomeInstancia			varchar(100)
	,@UsuarioInstancia		varchar(100)
	,@SenhaInstancia		varchar(100)
	,@NomeServer			varchar(100)
	,@NomeDatabase			varchar(100)
	,@Usuario				varchar(100)
	,@Senha					varchar(100)
	,@Observacao			varchar(255) = NULL
	,@Ativo					bit
	,@Quem					varchar(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaBancoDados WHERE CodSenhaBancoDados = @CodSenhaBancoDados for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaBancoDados', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

	UPDATE SenhaBancoDados
	SET 
		 CodInstituicao		= @CodInstituicao  
		,NomeInstancia		= @NomeInstancia  
		,UsuarioInstancia	= @UsuarioInstancia 
		,SenhaInstancia		= @SenhaInstancia 
		,NomeServer			= @NomeServer  
		,NomeDatabase		= @NomeDatabase  
		,Usuario			= @Usuario  
		,Senha				= @Senha  
		,Observacao			= @Observacao 
		,Ativo				= @Ativo 
		,Quem				= @Quem  
		,Quando				= GETDATE()
	WHERE CodSenhaBancoDados = @CodSenhaBancoDados
	  

END
GO
