USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CNAE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE  [dbo].[P_EMPRESA_CNAE_LISTAR]
(
	 @CodEmpresa	int
)

AS
BEGIN

	 
	SELECT 
		 emp.CodEmpresa
		,empca.CodCnae
		,empca.Primario
		,empca.Secundario
	FROM dbo.Empresa emp
	inner join EmpresaCnae empca
		on emp.CodEmpresa = empca.CodEmpresa
	where emp.CodEmpresa = @CodEmpresa	 
	order by emp.CodEmpresa   		



  		
END

 
GO
