USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CONTABILIDADE_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE  [dbo].[P_EMPRESA_CONTABILIDADE_OBTER]
(
	 @CodEmpresa	int
	,@CodContabilidade		int
)
AS
BEGIN
	

	SELECT 
		 emp.CodEmpresa
		,empca.CodContabilidade
	FROM dbo.Empresa emp
	inner join EmpresaContabilidade empca
		on emp.CodEmpresa = empca.CodEmpresa
	where emp.CodEmpresa = @CodEmpresa
		and empca.CodContabilidade = @CodContabilidade
	order by emp.CodEmpresa  		


END
 
GO
