USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CONVENCAO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE  [dbo].[P_EMPRESA_CONVENCAO_OBTER]
(
	 @CodEmpresa	int
	,@CodConvencao		int
)
AS
BEGIN
	

	SELECT 
		 emp.CodEmpresa
		,empca.CodConvencao
	FROM dbo.Empresa emp
	inner join EmpresaConvencao empca
		on emp.CodEmpresa = empca.CodEmpresa
	where emp.CodEmpresa = @CodEmpresa
		and empca.CodConvencao = @CodConvencao
	order by emp.CodEmpresa  		


END
 
GO
