USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_CATEGORIA_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PESSOA_CATEGORIA_OBTER]
(
	@CodPessoaCategoria int 
)
AS
BEGIN

  IF (@CodPessoaCategoria = 0)
  begin	
	set @CodPessoaCategoria = NULL	
  end	

	SELECT 
		CodPessoaCategoria
		,Descricao
		,Sigla
	FROM PessoaCategoria
	where CodPessoaCategoria = @CodPessoaCategoria
  		
END

 

	
	  		
 
GO
