USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_TAREFA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_STATUS_TAREFA_ALTERAR]
(
	 @CodStatusTarefa int
	,@Descricao Varchar(80)
	,@Quem							varchar(6) 	
)
AS
BEGIN

		UPDATE StatusTarefa
		Set Descricao = @Descricao
		WHERE CodStatusTarefa = @CodStatusTarefa

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM StatusTarefa WHERE CodStatusTarefa = @CodStatusTarefa for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusTarefa', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
