USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_ENDERECO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_TIPO_ENDERECO_ALTERAR]
(
	 @CodTipoEndereco int
	,@Descricao Varchar(150)
	,@Quem							varchar(6) 	
)
AS
BEGIN

	UPDATE TipoEndereco
	Set Descricao = @Descricao
	WHERE CodTipoEndereco = @CodTipoEndereco

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoEndereco WHERE CodTipoEndereco = @CodTipoEndereco for xml auto)
		
		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoEndereco', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
  		
END

 
GO
