USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_BANCO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_BANCO_OBTER]
(
	@CodBanco int 
)
AS
BEGIN

	IF (@CodBanco = 0)
	begin	
	set @CodBanco = NULL	
	end	

	SELECT 
		 CodBanco
		,NumeroBanco
		,NomeBanco		
	FROM Banco	 
	where CodBanco = @CodBanco
  		
END

 
GO
