USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_SENHA_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_SENHA_OBTER]
(
	@CodTipoSenha int 
)
AS
BEGIN

   

	SELECT 
		 CodTipoSenha
		,Descricao
	FROM TipoSenha
	where CodTipoSenha = @CodTipoSenha
  		
END

 
GO
