USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_OBTER]  
(
	@CodProjeto	INT
)
AS
BEGIN

	IF (@CodProjeto = 0)
	begin	
		set @CodProjeto = NULL	
	end	

	SELECT 
		 proj.CodProjeto
		,proj.CodStatusProjeto
		,stProj.Descricao			as DescStatusProjeto
		,proj.CodCliente
		,cli.Nome					as NomeCliente
		,proj.CodGrupoEmpresarial   CodEmpresa
		,grp.Descricao				as DescEmpresa
		,proj.DtCadastro
		,proj.Nome
		,proj.Objetivo
		,proj.ValorPrevisto
		,proj.ValorRealizado
		,proj.DtInicioPrevisto
		,proj.DtTerminoPrevisto
		,proj.DtInicioRealizado
		,proj.DtTerminoRealizado
		,proj.PercTotal
		,proj.InformacoesAdd
		,proj.Ativo
		,proj.Quem
	FROM Projeto proj
	INNER JOIN StatusProjeto stProj
		on stProj.CodStatusProjeto = proj.CodStatusProjeto
	INNER JOIN cliente cli
		on cli.CodCliente = proj.CodCliente
	INNER JOIN GrupoEmpresarial grp
		on grp.CodGrupoEmpresarial = proj.CodGrupoEmpresarial
	WHERE proj.CodProjeto = @CodProjeto



END
GO
