USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CONTATO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_CONTATO_LISTAR_FILTRO]
(
	 @CodTipoContato int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodTipoContato = 0)
	begin	
		set @CodTipoContato = NULL	
	end	
		

	SELECT 
		 CodTipoContato
		,Descricao
	FROM TipoContato
	where (
			@CodTipoContato IS NULL				
			OR  CodTipoContato = @CodTipoContato
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
