USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_CONTABILIDADE_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

create PROCEDURE [dbo].[P_ENDERECO_CONTABILIDADE_EXCLUIR]   
(
	
	 @CodContabilidade int 
	,@CodEndereco int 	
	,@Quem					varchar(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM ContabilidadeEndereco WHERE CodContabilidade = @CodContabilidade and CodEndereco = @CodEndereco for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'CodContabilidadeEndereco', @VlrOriginal, 'D', @Quem 

	SET @VlrOriginal = (SELECT * FROM Endereco WHERE CodEndereco = @CodEndereco for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Endereco', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************



	DELETE FROM ContabilidadeEndereco
	WHERE CodContabilidade = @CodContabilidade
		and CodEndereco = @CodEndereco

	DELETE FROM [dbo].[Endereco]
	WHERE CodEndereco = @CodEndereco
  		
END

 
GO
