USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_LISTAR_PROFISSIONAIS]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_SPRINT_LISTAR_PROFISSIONAIS]  
(
	 @CodProjeto int
)
AS
BEGIN
  
	 
	SELECT 
		 prjE.CodProjetoEquipe
		,pes.Nome
	FROM Pessoa pes
	INNER JOIN ProjetoEquipe prjE
		on pes.CodPessoa = prjE.CodPessoa
	INNER JOIN Projeto prj
		ON prjE.CodProjeto = prj.CodProjeto 
			AND prjE.Ativo = 1
	where prj.CodProjeto = @CodProjeto
  		
END
GO
