USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_ARQUIVOS_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PROJETO_ARQUIVOS_OBTER]
(
	 @CodProjetoArquivo int	
)
AS
BEGIN

	SELECT
		  parq.CodProjetoArquivo
		 ,parq.CodProjeto
		 ,projS.CodProjetoSprint
		 ,parq.CodProjetoTarefa
		 ,parq.CodArquivo
		 ,arq.Nome
		 ,arq.Arquivo
		 ,arq.Titulo
		 ,arq.ContentType
		 ,arq.Ativo
		 ,parq.Data
		 ,parq.Observacao
		 ,projS.Titulo as TituloSprint
		 ,projT.Titulo as TituloTarefa
	FROM ProjetoArquivo parq
	inner join Arquivos  arq
		on arq.CodArquivo = parq.CodArquivo
	left join ProjetoTarefa projT
		on projT.CodProjetoTarefa = parq.CodProjetoTarefa
	left join ProjetoSprint projS
		on projS.CodProjetoSprint = projT.CodProjetoSprint
		where arq.CodArquivo = @CodProjetoArquivo

END
GO
