USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_ENDERECO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_ENDERECO_LISTAR_FILTRO]
(
	 @CodTipoEndereco int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodTipoEndereco = 0)
	begin	
		set @CodTipoEndereco = NULL	
	end	
		

	SELECT 
		 CodTipoEndereco
		,Descricao
	FROM TipoEndereco
	where (
			@CodTipoEndereco IS NULL				
			OR  CodTipoEndereco = @CodTipoEndereco
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
