USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_OBTER_DATAS_SPRINTS]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_SPRINT_OBTER_DATAS_SPRINTS]  
(
	 @CodProjetoSprint int
)
AS
BEGIN
  	 
	SELECT 
			 prjS.CodProjetoSprint			
			,prjS.CodProjeto
			,prjS.CodStatusSprint
			,prjS.DtInicioPrevisto
			,prjS.DtTerminoPrevisto
			,prjS.DtInicioRealizado
			,prjS.DtTerminoRealizado
	FROM ProjetoSprint prjS
	where prjS.CodProjetoSprint = @CodProjetoSprint
  		
END
GO
