USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_BANCO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_BANCO_INSERIR]
(
	 @CodBanco		int
	,@NumeroBanco	Varchar(100)
	,@NomeBanco		Varchar(100)
	,@Quem			varchar(6) 	
)
AS
BEGIN

	declare @CodIDENTITY int 

	INSERT INTO Banco
	(
		 NumeroBanco	
		,NomeBanco	

	)
	VALUES
	(
		@NumeroBanco
	   ,@NomeBanco
	)
	 

	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Banco WHERE CodBanco = @CodIDENTITY for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Banco', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodBanco' 
   
     
  		
END

 
GO
