USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_EMPRESA_INSERIR]
(
 	 @CodTipoPessoa             int
    ,@CodRamoAtividade          int
    ,@Cnpj                      varchar(18)
    ,@RazaoSocial               varchar(150)
    ,@NomeFantasia              varchar(150)    = NULL
    ,@DataCadastro              datetime         
    ,@DataAbertura              datetime        = NULL
    ,@InscricaoEstadual         varchar(15)     
    ,@InscricaoMunicipal        varchar(14)     
    ,@Sindicalizada             bit             
    ,@EhMatrizFilial            bit             
    ,@QuantidadeFUncionarios    int             
    ,@ValorTotalFolha           decimal(14,2)   
    ,@CapitalSocial             decimal(14,2)   
    ,@Observacao                varchar(max)    = NULL
    ,@Ativo                     bit             
    ,@Quem                      varchar(6)      
)
AS
BEGIN


	declare @CodIDENTITY int 

	INSERT INTO Empresa
    (
            CodTipoPessoa
        ,CodRamoAtividade
        ,Cnpj
        ,RazaoSocial
        ,NomeFantasia
        ,DataCadastro
        ,DataAbertura
        ,InscricaoEstadual
        ,InscricaoMunicipal
        ,Sindicalizada
        ,EhMatrizFilial
        ,QuantidadeFUncionarios
        ,ValorTotalFolha
        ,CapitalSocial
        ,Observacao
        ,Ativo
        ,Quem
        ,Quando
    )
    VALUES
    (
         @CodTipoPessoa             
        ,@CodRamoAtividade          
        ,@Cnpj                      
        ,@RazaoSocial               
        ,@NomeFantasia              
        ,@DataCadastro              
        ,@DataAbertura              
        ,@InscricaoEstadual         
        ,@InscricaoMunicipal        
        ,@Sindicalizada             
        ,@EhMatrizFilial            
        ,@QuantidadeFUncionarios    
        ,@ValorTotalFolha           
        ,@CapitalSocial             
        ,@Observacao                
        ,@Ativo                     
        ,@Quem                      
        ,GETDATE()
    )


	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Empresa WHERE CodEmpresa = @CodIDENTITY for xml auto)

		

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Empresa', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodEmpresa'


END

 
GO
