USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_SPRINT_INSERIR]  
(
	 @CodProjeto			int 
	,@CodStatusSprint		int
	,@Titulo				varchar(200)
	,@Objetivo				varchar(200)
	--,@SequenciaSprint		int
	,@DtInicioPrevisto		datetime
	,@DtTerminoPrevisto		datetime
	,@DtInicioRealizado		datetime	= null
	,@DtTerminoRealizado	datetime	= null
	,@Quem					varchar(6)	  
)
AS
BEGIN
  
	declare @SequenciaSprintAux	int

	select @SequenciaSprintAux = SequenciaSprint
	from ProjetoSprint 
	where CodProjeto = @CodProjeto
	
	set @SequenciaSprintAux = ISNULL(@SequenciaSprintAux, 0)

	INSERT INTO ProjetoSprint
	(
		 CodProjeto
		,CodStatusSprint
		,Titulo
		,Objetivo
		,SequenciaSprint
		,DtInicioPrevisto
		,DtTerminoPrevisto
		,DtInicioRealizado
		,DtTerminoRealizado
		,Quem
		,Quando
	)
	VALUES
	(
		 @CodProjeto
		,@CodStatusSprint
		,@Titulo
		,@Objetivo
		,@SequenciaSprintAux + 1
		,@DtInicioPrevisto
		,@DtTerminoPrevisto
		,@DtInicioRealizado
		,@DtTerminoRealizado
		,@Quem
		,GETDATE()

	)

	SELECT @@IDENTITY AS 'CodProjeto';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM ProjetoSprint order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoSprint', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 
  		
END
GO
