USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CNAE_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_EMPRESA_CNAE_EXCLUIR]
(
	 @CodEmpresa    int
	,@CodCnae       int
	,@Quem			VARCHAR(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaCnae WHERE CodEmpresa = @CodEmpresa and CodCnae = @CodCnae for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaCnae', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	
 
 	DELETE FROM EmpresaCnae
	where CodEmpresa = @CodEmpresa
		and CodCnae = @CodCnae
	
END

 
GO
