USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_INSTITUICAO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_INSTITUICAO_LISTAR_FILTRO]
(
	 @CodInstituicao int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	
		

	SELECT 
		 CodInstituicao
		,Descricao
	FROM Instituicao	 
	where (
			@CodInstituicao IS NULL				
			OR  CodInstituicao = @CodInstituicao
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
