USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_SPRINT_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_STATUS_SPRINT_LISTAR_FILTRO]
(
	 @CodStatusSprint int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodStatusSprint = 0)
	begin	
		set @CodStatusSprint = NULL	
	end	
		

	SELECT 
		 CodStatusSprint
		,Descricao
	FROM StatusSprint
	where (
			@CodStatusSprint IS NULL				
			OR  CodStatusSprint = @CodStatusSprint
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
