USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_CATEGORIA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_PESSOA_CATEGORIA_EXCLUIR]
(
     @CodPessoaCategoria  int
	 ,@Quem				VARCHAR(6) 
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM PessoaCategoria WHERE CodPessoaCategoria = @CodPessoaCategoria for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'PessoaCategoria', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 	  		


	DELETE FROM [dbo].[PessoaCategoria]
	where CodPessoaCategoria = @CodPessoaCategoria 


END

 

	
	  		
 
GO
