USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFAS_OBTER_DATAS_TAREFAS]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_TAREFAS_OBTER_DATAS_TAREFAS]  
(
	 @CodProjetoTarefa int
)
AS
BEGIN
  	 
	SELECT 
			 prjtar.CodProjetoTarefa
			,prjtar.CodProjetoSprint			
			,prjtar.CodProjeto
			,prjtar.CodStatusTarefa
			,prjtar.DtInicioPrevisto
			,prjtar.DtTerminoPrevisto
			,prjtar.DtInicioRealizado
			,prjtar.DtTerminoRealizado
	FROM ProjetoTarefa prjtar
	where prjtar.CodProjetoTarefa = @CodProjetoTarefa
  		
END
GO
