USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTA_TIPO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_CONTA_TIPO_ALTERAR]
(
	 @CodContaTipo	 int
	,@Descricao		 Varchar(80)
	,@Quem			 varchar(6) 	
)
AS
BEGIN

		UPDATE ContaTipo
		Set Descricao = @Descricao
		WHERE CodContaTipo = @CodContaTipo

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM ContaTipo WHERE CodContaTipo = @CodContaTipo for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'ContaTipo', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
