USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_LOGSISTEMA_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_LOGSISTEMA_INCLUIR](
	@CodSistema			INT,
	@NmeTabela			VARCHAR(50),
	@VlrOriginal		XML,
	@TpoAcao			CHAR(1),
	@NmeLoginUsuario	VARCHAR(6)
)
AS
BEGIN
/*
      Objetivo : Inclui registro de log
      Analista : Daniel Soares
      Data     : 01/02/2012
      *** Histórico de Alterações ****************************************
      Item  Data        Analista    Descrição
      
      ********************************************************************
*/
	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	INSERT INTO LogSistema
	(
		CodSistema,
		NmeTabela,
		VlrOriginal,
		TpoAcao,
		NmeLoginUsuario,
		DtaLog
	)
	VALUES 
	(
		@CodSistema,
		@NmeTabela,
		@VlrOriginal,
		@TpoAcao,
		@NmeLoginUsuario,
		GetDate()
	)
	
END
GO
