USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_BANCO_LISTAR_FILTRO]
(
	 @CodInstituicao int = null
	 ,@Usuario varchar(6)
	--,@CodBanco int = null
	--,@CodContaTipo int = null
)
AS
BEGIN


	IF (@CodInstituicao = 0)
	begin	
		set @CodInstituicao = NULL	
	end	

	--IF (@CodBanco = 0)
	--begin	
	--	set @CodBanco = NULL	
	--end	

	--IF (@CodContaTipo = 0)
	--begin	
	--	set @CodContaTipo = NULL	
	--end	
		
	
	SELECT 
		 senBC.CodSenhaBanco
		,senBC.CodInstituicao
		,inst.Descricao as DescInstituicao
		,senBC.CodBanco
		,bc.NomeBanco
		,senBC.CodContaTipo
		,cTp.Descricao as DescContaTipo
		,senBC.NumAgencia
		,senBC.NumConta
		,senBC.CpfTitular
		,senBC.SenhaEletronica
		,senBC.Observacao
		,senBC.Ativo
		,senBC.Quem
	FROM SenhaBanco senBC
	inner join Instituicao inst
		on inst.CodInstituicao = senBC.CodInstituicao 
	inner join Banco bc
		on bc.CodBanco = senBC.CodBanco
	inner join ContaTipo cTp
		on cTp.CodContaTipo = senBC.CodContaTipo
	where (
			@CodInstituicao IS NULL				
			OR  senBC.CodInstituicao = @CodInstituicao
		)
	AND senBC.Quem = @Usuario
	--and (
	--		@CodBanco IS NULL				
	--		OR  senBC.CodBanco = @CodBanco
	--	)
	--and (
	--		@CodContaTipo IS NULL				
	--		OR  senBC.CodContaTipo = @CodContaTipo
	--	)



END
GO
