USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PESSOA_ALTERAR] 
(
	 @CodPessoa				INT 
	,@CodPessoaCategoria	INT 
    ,@CodTipoPessoa			INT 
    ,@CpfCnpj				VarChar(18) 
    ,@Nome					VarChar(150) 
    ,@Observacao			VarChar(255)	= NULL 
	,@Email					VarChar(100)	= NULL
    ,@Ativo					bit 
	,@Quem					varchar(6)
)
AS
BEGIN
	
   UPDATE [dbo].[Pessoa]
   SET CodPessoaCategoria	= @CodPessoaCategoria
      ,CodTipoPessoa		= @CodTipoPessoa
      ,CpfCnpj				= @CpfCnpj
      ,Nome					= @Nome
      ,Observacao			= @Observacao		
	  ,Email				= @Email	
      ,Ativo				= @Ativo				
      ,Quem					= @Quem					 
      ,Quando				= GETDATE()
 WHERE CodPessoa = @CodPessoa


 	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Pessoa WHERE CodPessoa = @CodPessoa for xml auto)

	

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Pessoa', @VlrOriginal, 'U', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************

END
GO
