USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_ARQUIVOS_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE  [dbo].[P_PROJETO_ARQUIVOS_EXCLUIR]
(
	 @CodProjetoArquivo int	
	 ,@Quem				VARCHAR(6) 
)
AS
BEGIN

		declare @CodArquivoAux int 

		select 
			@CodArquivoAux = CodArquivo 
		FROM [dbo].[ProjetoArquivo]
		where CodProjetoArquivo = @CodProjetoArquivo

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM ProjetoArquivo WHERE CodProjetoArquivo = @CodProjetoArquivo for xml auto)
		
		EXEC P_LOGSISTEMA_INCLUIR  3, 'ProjetoArquivo', @VlrOriginal, 'D', @Quem 

		SET @VlrOriginal = (SELECT * FROM Arquivos WHERE CodArquivo = @CodArquivoAux for xml auto)
		
		EXEC P_LOGSISTEMA_INCLUIR  3, 'Arquivos', @VlrOriginal, 'D', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		DELETE FROM [dbo].[ProjetoArquivo]
		where CodProjetoArquivo = @CodProjetoArquivo		
		
		DELETE FROM [dbo].[Arquivos]
		where CodArquivo = @CodArquivoAux
				
		

END
GO
