USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_INSTITUICAO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_INSTITUICAO_EXCLUIR]
(
	  @CodInstituicao INT    	
	 ,@Quem							varchar(6) 	
)
AS
BEGIN


	IF NOT EXISTS(	
					select top 1 1 from SenhaSite senSit
					inner join Instituicao inst
					on senSit.CodInstituicao = inst.CodInstituicao
					where senSit.CodInstituicao = @CodInstituicao		
				)
	Begin
	 	
		 
		 --*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************
		
			DECLARE @VlrOriginal XML
			SET @VlrOriginal = (SELECT * FROM Instituicao WHERE CodInstituicao = @CodInstituicao for xml auto)
				 
			EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Instituicao', @VlrOriginal, 'D', @Quem 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************

			DELETE FROM Instituicao 
			Where CodInstituicao = @CodInstituicao


	End
	ELSE
	Begin
		SELECT 0 'CodInstituicao'
	End

END
GO
