USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_TAREFA_EXCLUIR]  
(
	 @CodProjetoTarefa      int
	,@Quem					varchar(6)
)
AS
BEGIN
   

   --*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM ProjetoTarefa where CodProjetoTarefa = @CodProjetoTarefa for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoTarefa', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'D', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 


   DELETE ProjetoTarefa
   where CodProjetoTarefa = @CodProjetoTarefa
    
	  		
END
GO
