USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_EQUIPE_INCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_EQUIPE_INCLUIR] 
(
	 @CodProjeto	INT 
	,@CodPessoa		INT 
	,@Ativo			BIT
    ,@Quem			varchar(6)
)
AS
BEGIN

	IF NOT EXISTS(select top 1 * from ProjetoEquipe where CodProjeto =  @CodProjeto and CodPessoa = @CodPessoa)
	Begin

	   INSERT INTO ProjetoEquipe
			(
				 CodProjeto		
				,CodPessoa
				,Ativo
				,Quem
				,Quando				 
			)
		VALUES
			(
				 @CodProjeto		
				,@CodPessoa				
				,@Ativo			
				,@Quem				
				,GETDATE()
			)

		SELECT @@IDENTITY AS 'CodProjetoEquipe';
	
	 	
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT top 1 * FROM ProjetoEquipe order by 1 desc for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoEquipe', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************	 

	End
	ELSE
	Begin
	 
	 SELECT 0 as CodCliente
	 
	End

END
GO
