USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CCT_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE  [dbo].[P_TIPO_CCT_ALTERAR]
(
	 @CodTipoCCT int
	,@Descricao Varchar(100)   
)
AS
BEGIN

	UPDATE TipoCCT
	Set Descricao = @Descricao
	WHERE CodTipoCCT = @CodTipoCCT


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM TipoCCT WHERE CodTipoCCT = @CodTipoCCT for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'TipoCCT', @VlrOriginal, 'U', 'cd0001' 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	 
   
     
  		
END

 
GO
