USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CONTATO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_TIPO_CONTATO_ALTERAR]
(
	 @CodTipoContato int
	,@Descricao Varchar(150)
	,@Quem				VARCHAR(6) 
)
AS
BEGIN

	UPDATE TipoContato
	Set Descricao = @Descricao
	WHERE CodTipoContato = @CodTipoContato

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM TipoContato WHERE CodTipoContato = @CodTipoContato for xml auto)

	

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoContato', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
  		
END

 
GO
