USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_TRADING_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_TRADING_ALTERAR]
(
       @CodSenhaTrading		int
	  ,@CodInstituicao		int
      ,@CodBanco			int
      ,@NomeEmpresa			varchar(100)
      ,@UsuarioEmail		varchar(155)
      ,@UsuarioCPF			varchar(14)
      ,@SenhaLogin			varchar(100)
      ,@SenhaOrdens			varchar(100)
      ,@Observacao			varchar(255) = null
      ,@Ativo				bit
      ,@Quem				varchar(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaTrading WHERE CodSenhaTrading = @CodSenhaTrading for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaTrading', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

   UPDATE [dbo].[SenhaTrading]
   SET 
	   CodInstituicao	= @CodInstituicao
      ,CodBanco			= @CodBanco
      ,NomeEmpresa		= @NomeEmpresa
      ,UsuarioEmail		= @UsuarioEmail
      ,UsuarioCPF		= @UsuarioCPF
      ,SenhaLogin		= @SenhaLogin
      ,SenhaOrdens		= @SenhaOrdens
      ,Observacao		= @Observacao
      ,Ativo			= @Ativo
      ,Quem				= @Quem
      ,Quando			= GETDATE()
 	WHERE CodSenhaTrading = @CodSenhaTrading
	  

END



GO
