USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_SPRINT_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_STATUS_SPRINT_EXCLUIR]
(
	 @CodStatusSprint INT    	
	 ,@Quem							varchar(6) 	
)
AS
BEGIN


	IF NOT EXISTS(	
					select * from Sprint proj
					inner join StatusSprint stproj
					on stproj.CodStatusSprint = proj.CodStatusSprint
					where proj.CodStatusSprint = @CodStatusSprint		
				)
	Begin
	 	
		IF(@CodStatusSprint <> 2)
		begin
				
			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************
		
			DECLARE @VlrOriginal XML
			SET @VlrOriginal = (SELECT * FROM StatusSprint WHERE CodStatusSprint = @CodStatusSprint for xml auto)
				 
			EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusSprint', @VlrOriginal, 'D', @Quem 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************

			DELETE FROM StatusSprint 
			Where CodStatusSprint = @CodStatusSprint


		end
	End
	ELSE
	Begin
		SELECT 0 'CodStatusSprint'
	End

END
GO
