USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_SOCIO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

Create PROCEDURE  [dbo].[P_EMPRESA_SOCIO_OBTER]
(
	 @CodEmpresa	int
	,@CodSocio		int
)
AS
BEGIN
	

	SELECT 
		 emp.CodEmpresa
		,empca.CodSocio
	FROM dbo.Empresa emp
	inner join EmpresaSocios empca
		on emp.CodEmpresa = empca.CodEmpresa
	where emp.CodEmpresa = @CodEmpresa
		and empca.CodSocio = @CodSocio
	order by emp.CodEmpresa  		


END
 
GO
