USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_ENDERECO_OBTER]   
(
	@CodEndereco int 
)
AS
BEGIN
 
	SELECT
	   ENDR.CodEndereco
	  ,CLIEND.CodCliente
      ,TEND.CodTipoEndereco
	  ,TEND.Descricao DescTipoEndereco
      ,ENDR.Cep
      ,ENDR.Logradouro
      ,ENDR.Numero
      ,ENDR.Complemento
      ,ENDR.Bairro
      ,ENDR.Cidade
      ,ENDR.Estado  
	FROM Endereco ENDR
	LEFT JOIN ClienteEndereco CLIEND
		on ENDR.CodEndereco = CLIEND.CodEndereco 
	INNER JOIN TipoEndereco TEND
		on TEND.CodTipoEndereco = ENDR.CodTipoEndereco
	where ENDR.CodEndereco = @CodEndereco

  		
END

 
GO
