USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_PROJETO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_STATUS_PROJETO_ALTERAR]
(
	 @CodStatusProjeto int
	,@Descricao Varchar(80)
	,@Quem							varchar(6) 	
)
AS
BEGIN

		UPDATE StatusProjeto
		Set Descricao = @Descricao
		WHERE CodStatusProjeto = @CodStatusProjeto

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM StatusProjeto WHERE CodStatusProjeto = @CodStatusProjeto for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusProjeto', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
