USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_TRADING_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_TRADING_OBTER]
(
	 @CodSenhaTrading int 
	 ,@Usuario			varchar(6) 
)
AS
BEGIN

 
	
	SELECT 
		   senTra.CodSenhaTrading
		  ,senTra.CodInstituicao
		  ,inst.Descricao as DescInstituicao
		  ,senTra.CodBanco
		  ,bc.NomeBanco
		  ,senTra.NomeEmpresa
		  ,senTra.UsuarioEmail
		  ,senTra.UsuarioCPF
		  ,senTra.SenhaLogin
		  ,senTra.SenhaOrdens
		  ,senTra.Observacao
		  ,senTra.Ativo
		  ,senTra.Quem
	  FROM SenhaTrading senTra
	  inner join Instituicao inst
		on inst.CodInstituicao = senTra.CodInstituicao 
	  inner join Banco bc
		on bc.CodBanco = senTra.CodBanco 
	where CodSenhaTrading = @CodSenhaTrading
	and senTra.Quem = @Usuario

END
GO
