USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_TRADING_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_SENHA_TRADING_INSERIR]
(
	   @CodInstituicao		int
      ,@CodBanco			int
      ,@NomeEmpresa			varchar(100)
      ,@UsuarioEmail		varchar(155)
      ,@UsuarioCPF			varchar(14)
      ,@SenhaLogin			varchar(100)
      ,@SenhaOrdens			varchar(100)
      ,@Observacao			varchar(255) = null
      ,@Ativo				bit
      ,@Quem				varchar(6)
)
AS
BEGIN

	
	INSERT INTO SenhaTrading
    (
		 CodInstituicao
		,CodBanco
		,NomeEmpresa
		,UsuarioEmail
		,UsuarioCPF
		,SenhaLogin
		,SenhaOrdens
		,Observacao
		,Ativo
		,Quem
		,Quando
	 )
     VALUES
     (
		 @CodInstituicao
		,@CodBanco
		,@NomeEmpresa
		,@UsuarioEmail
		,@UsuarioCPF
		,@SenhaLogin
		,@SenhaOrdens
		,@Observacao
		,@Ativo
		,@Quem
		,GETDATE()
	)


	SELECT @@IDENTITY AS 'CodSenhaTrading';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaTrading order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaTrading', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 



END
GO
