USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_TAREFA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_STATUS_TAREFA_EXCLUIR]
(
	 @CodStatusTarefa INT    	
	 ,@Quem							varchar(6) 	
)
AS
BEGIN


	--IF NOT EXISTS(	
	--				select * from Task proj
	--				inner join StatusTarefa stproj
	--				on stproj.CodStatusTarefa = proj.CodStatusTarefa
	--				where proj.CodStatusTarefa = @CodStatusTarefa		
	--			)
	--Begin
	 	
	--	IF(@CodStatusTarefa <> 2)
	--	begin
				
			


	--	end
	--End
	--ELSE
	--Begin
	--	SELECT 0 'CodStatusTarefa'
	--End


		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM StatusTarefa WHERE CodStatusTarefa = @CodStatusTarefa for xml auto)
				 
		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusTarefa', @VlrOriginal, 'D', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		DELETE FROM StatusTarefa 
		Where CodStatusTarefa = @CodStatusTarefa

END
GO
