USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SOCIO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
create PROCEDURE [dbo].[P_SOCIO_ALTERAR] 
(
	 @CodSocio				INT 
    ,@Nome			VarChar(150) 
    ,@Cpf			VarChar(14) 
	,@Observacao	VarChar(255)	= NULL 
	,@Quem			VarChar(6)	
)
AS
BEGIN
	

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Socios WHERE CodSocio = @CodSocio for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 1, @NmeTabela	=	'Socios', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	


	UPDATE Socios
	SET 
			Nome		= @Nome
		,Cpf		= @Cpf
		,Observacao = @Observacao
	WHERE CodSocio = @CodSocio


END
GO
