USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[P_CONVENCAO_EXCLUIR] 
(
	 @CodConvencao	INT     
	,@Quem			varchar(6)
)
AS
BEGIN
	
	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Convencao WHERE CodConvencao = @CodConvencao for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 1, @NmeTabela	=	'Convencao', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'D', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	


	DELETE FROM Convencao
	WHERE CodConvencao = @CodConvencao

END
GO
