USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_LISTAR_TOTAL_PACIFICA]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_CONVENCAO_LISTAR_TOTAL_PACIFICA]
AS
BEGIN 

	--Total Em Negociação
	select count(*) as TotalNegociacaoPacifica
	from convencao where CodStatusCCT = 2


END

 
GO
