USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE  [dbo].[P_CONVENCAO_ALTERAR]
(
	 @CodConvencao       int
	,@CodTipoCCT         int
	,@CodStatusCCT       int
	,@NomeConvencao      varchar(100)
	,@NomeArquivo        varchar(50) = null
	,@AnoVigenciaInicial varchar(4)
	,@AnoVigenciaFinal   varchar(4)
	,@Observacao         varchar(255)= null
	,@CCTAssinada        bit
	,@Ativo              bit
	,@Quem				 Varchar(6)
)
AS
BEGIN


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Convencao WHERE CodConvencao = @CodConvencao for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Convencao', @VlrOriginal, 'U', @Quem

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************

	UPDATE [dbo].[Convencao]
	SET 
		 CodTipoCCT         = @CodTipoCCT
		,CodStatusCCT       = @CodStatusCCT
		,NomeConvencao      = @NomeConvencao
		,AnoVigenciaInicial = @AnoVigenciaInicial
		,AnoVigenciaFinal   = @AnoVigenciaFinal
		,Observacao         = @Observacao
		,CCTAssinada        = 1
		,Ativo              = @Ativo
		,Quem               = @Quem
		,Quando             = GETDATE()
	WHERE CodConvencao = @CodConvencao
  		
END

 
GO
