USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SOCIO_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   

CREATE PROCEDURE [dbo].[P_SOCIO_EXCLUIR]   
(
	 @CodSocio  int 
	,@Quem		varchar(6)
)
AS
BEGIN


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Socios WHERE CodSocio = @CodSocio for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Socios', @VlrOriginal, 'D', @Quem 


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	
	--SE CLIENTE ESTIVER EM ALGUM PROJETO
	-- INATIVO ELE, SENAO EXCLUO O CLIENTE
	
	update Socios
	set Ativo = 0
	where CodSocio = @CodSocio
	
	--select 
	--	* 
	--	into #tmpContato
	--from ClienteContato 	
	--where CodCliente = @CodCliente			   
	
	--delete from ClienteContato where CodCliente = @CodCliente	
	--delete from Contato where CodContato IN(select CodContato from #tmpContato where CodCliente = @CodCliente)
	
	--select 
	--* 
	--into #tmpEndereco
	--from ClienteEndereco 	
	--where CodCliente = @CodCliente	

	--delete from ClienteEndereco where CodCliente = @CodCliente	
	--delete from Endereco where CodEndereco IN(select CodEndereco from #tmpEndereco where CodCliente = @CodCliente)
	
	--delete from Cliente where CodCliente = @CodCliente
	
	
	--drop table #tmpContato
	--drop table #tmpEndereco
	  		
END

 
GO
