USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_CLIENTE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[P_ENDERECO_CLIENTE_LISTAR]   
(
	@CodCliente int 
)
AS
BEGIN

  IF (@CodCliente = 0)
  begin	
	set @CodCliente = NULL	
  end	
		
	SELECT
	   ENDR.CodEndereco
	  ,CLI.CodCliente	
      ,TEND.CodTipoEndereco
	  ,TEND.Descricao descTipoEndereco
      ,ENDR.Cep
      ,ENDR.Logradouro
      ,ENDR.Numero
      ,ENDR.Complemento
      ,ENDR.Bairro
      ,ENDR.Cidade
      ,ENDR.Estado  
	FROM ClienteEndereco CLIEND
	INNER JOIN Cliente CLI
		on CLIEND.CodCliente = CLI.CodCliente
	INNER JOIN Endereco ENDR
		on CLIEND.CodEndereco = ENDR.CodEndereco
	INNER JOIN TipoEndereco TEND
		on TEND.CodTipoEndereco = ENDR.CodTipoEndereco
	where CLI.CodCliente = @CodCliente

  		
END

 
GO
