USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_SPRINT_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_PROJETO_SPRINT_EXCLUIR]   
(
	  @CodProjetoSprint		INT
	 ,@Quem					VARCHAR(6)
)
AS
BEGIN
   

	IF NOT EXISTS(	
					select * from ProjetoTarefa
					where CodProjetoSprint	= @CodProjetoSprint
					and (CodStatusWorkflow = 2 or CodStatusWorkflow = 3)
				)
	Begin
	 	
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT top 1 * FROM ProjetoSprint where CodProjetoSprint = @CodProjetoSprint for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoSprint', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'D', @NmeLoginUsuario = @Quem 
		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************	 

		DELETE FROM ProjetoTarefa
		WHERE CodProjetoSprint	= @CodProjetoSprint

		DELETE FROM ProjetoSprint		
		WHERE CodProjetoSprint	= @CodProjetoSprint

		 SELECT -1 

	End
	ELSE
	Begin
	 

	 SELECT 1 

	End



END
GO
