USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE  [dbo].[P_CONVENCAO_INSERIR]
(
	 @CodTipoCCT         int
	,@CodStatusCCT       int
	,@NomeConvencao      varchar(100)
	,@AnoVigenciaInicial varchar(4)
	,@AnoVigenciaFinal   varchar(4)
	,@Observacao         varchar(255)= null
	,@CCTAssinada        bit
	,@Ativo              bit
	,@Quem				 Varchar(6)
)
AS
BEGIN

	declare @CodIDENTITY int 

	INSERT INTO Convencao
	(
		 CodTipoCCT
		,CodStatusCCT
		,NomeConvencao		
		,AnoVigenciaInicial
		,AnoVigenciaFinal
		,Observacao
		,CCTAssinada
		,Ativo
		,Quem
		,Quando
	)
		VALUES
	(
		 @CodTipoCCT        
		,@CodStatusCCT      
		,@NomeConvencao     
		,@AnoVigenciaInicial
		,@AnoVigenciaFinal  
		,@Observacao        
		,1       
		,@Ativo   
		,@Quem
		,GETDATE()
	)
	 

	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM Convencao WHERE CodConvencao = @CodIDENTITY for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'Convencao', @VlrOriginal, 'I', @Quem

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodConvencao' 
   
     
  		
END

 
GO
