USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CLIENTE_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[P_CLIENTE_OBTER]  
(
	@CodCliente int 
)
AS
BEGIN

  IF (@CodCliente = 0)
  begin	
	set @CodCliente = NULL	
  end	
		
  SELECT 
	   CLI.CodCliente
	  ,TPP.CodTipoPessoa
	  ,TPP.Descricao AS DescTipoPessoa
	  ,RAM.CodRamoAtividade
	  ,RAM.Descricao as DescRamoAtividade
	  ,CLI.CpfCnpj
	  ,CLI.Nome       
      ,CLI.NomeFantasia
	  ,CLI.CadastroDesde
	  ,CLI.InscricaoEstadual
      ,CLI.InscricaoMunicipal
      ,CLI.InformacoesAdd
      ,CLI.Ativo
      ,CLI.Quem
  FROM CLiente CLI
	INNER JOIN TipoPessoa TPP
		ON CLI.CodTipoPessoa = TPP.CodTipoPessoa 
	INNER JOIN RamoAtividade RAM
		ON CLI.CodRamoAtividade = RAM.CodRamoAtividade
  where CodCliente = @CodCliente
  		
END
GO
