USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_LISTAR_FILTRO]  
(
	@CodCliente				INT			 = null
   ,@CodEmpresa				INT			 = null
   ,@NomeProjeto			VARCHAR(100) = null    
)
AS
BEGIN

	IF (@CodCliente = 0)
	begin	
		set @CodCliente = NULL	
	end	

	IF (@CodEmpresa = 0)
	begin	
		set @CodEmpresa = NULL	
	end	

	IF (@NomeProjeto = '')
	begin	
		set @NomeProjeto = NULL	
	end	


	SELECT 
		 proj.CodProjeto
		,proj.CodStatusProjeto
		,stProj.Descricao			as DescStatusProjeto
		,proj.CodCliente
		,cli.Nome					as NomeCliente
		,proj.CodGrupoEmpresarial   CodEmpresa
		,grp.Descricao				as DescEmpresa
		,proj.DtCadastro
		,proj.Nome
		,proj.Objetivo
		,proj.ValorPrevisto
		,proj.ValorRealizado
		,proj.DtInicioPrevisto
		,proj.DtTerminoPrevisto
		,proj.DtInicioRealizado
		,proj.DtTerminoRealizado
		,proj.PercTotal
		,proj.InformacoesAdd
		,proj.Ativo
		,proj.Quem
	FROM Projeto proj
	INNER JOIN StatusProjeto stProj
		on stProj.CodStatusProjeto = proj.CodStatusProjeto
	INNER JOIN cliente cli
		on cli.CodCliente = proj.CodCliente
	INNER JOIN GrupoEmpresarial grp
		on grp.CodGrupoEmpresarial = proj.CodGrupoEmpresarial
	WHERE 
		(
			@CodCliente IS NULL				
			OR proj.CodCliente = @CodCliente
		)
	and (
			@CodEmpresa IS NULL				
			OR grp.CodGrupoEmpresarial = @CodEmpresa
		)
    AND (
		@NomeProjeto IS NULL
		OR UPPER(LTRIM(RTRIM(proj.Nome))) LIKE '%' + UPPER(LTRIM(RTRIM(@NomeProjeto))) + '%'
		)

END
GO
