USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

CREATE PROCEDURE [dbo].[P_SENHA_BANCO_ALTERAR]
(
	 @CodSenhaBanco		int
	,@CodInstituicao	int
	,@CodBanco			int
	,@CodContaTipo		int
	,@NumAgencia		varchar(80)
	,@NumConta			varchar(80)
	,@CpfTitular		varchar(14)
	,@SenhaEletronica	varchar(80)
	,@Observacao		varchar(255) = NULL
	,@Ativo				bit
	,@Quem				varchar(6)
)
AS
BEGIN

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaBanco WHERE CodSenhaBanco = @CodSenhaBanco for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'SenhaBanco', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 

	UPDATE SenhaBanco
	SET 
		CodInstituicao	 = @CodInstituicao	
		,CodBanco		 = @CodBanco			
		,CodContaTipo	 = @CodContaTipo		
		,NumAgencia		 = @NumAgencia		
		,NumConta		 = @NumConta			
		,CpfTitular		 = @CpfTitular		
		,SenhaEletronica = @SenhaEletronica	
		,Observacao		 = @Observacao		
		,Ativo			 = @Ativo			
		,Quem			 = @Quem				
		,Quando			 = GETDATE()
	WHERE CodSenhaBanco  = @CodSenhaBanco
	  

END
GO
