USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_RAMO_ATIVIDADE_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_RAMO_ATIVIDADE_OBTER]
(
	@CodRamoAtividade int 
)
AS
BEGIN

  IF (@CodRamoAtividade = 0)
  begin	
	set @CodRamoAtividade = NULL	
  end	

	SELECT 
		 CodRamoAtividade
		,Descricao
	FROM RamoAtividade
	where CodRamoAtividade= @CodRamoAtividade
  		
END

 
GO
