USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_CCT_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE  [dbo].[P_STATUS_CCT_LISTAR_FILTRO]
(
	 @CodStatusCCT int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodStatusCCT = 0)
	begin	
		set @CodStatusCCT = NULL	
	end	
		

	SELECT 
		 CodStatusCCT
		,Descricao
	FROM StatusCCT
	where (
			@CodStatusCCT IS NULL				
			OR  CodStatusCCT = @CodStatusCCT
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
