USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_ARQUIVOS_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[P_PROJETO_ARQUIVOS_LISTAR] 
(
	 @CodProjeto int	
)
AS
BEGIN

	SELECT
		  parq.CodProjetoArquivo
		 ,parq.CodProjeto
		 ,parq.CodProjetoSprint
		 ,parq.CodProjetoTarefa
		 ,parq.CodArquivo
		 ,arq.Nome
		 ,arq.Arquivo
		 ,arq.Titulo
		 ,arq.ContentType
		 ,arq.Ativo
		 ,parq.Data
		 ,parq.Observacao
	FROM ProjetoArquivo parq
	inner join Arquivos  arq
		on arq.CodArquivo = parq.CodArquivo
    where parq.CodProjeto = @CodProjeto
		and parq.CodProjetoSprint is null
		and parq.CodProjetoTarefa is null
	ORder by parq.Data desc
	

END
GO
