USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CAMINHO_ARQUIVO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_CAMINHO_ARQUIVO_OBTER]
(
	@CodArquivo int 
)
AS
BEGIN

	SELECT 
		 Arquivo
	FROM Arquivos
	where CodArquivo = @CodArquivo
  		
END

 
GO
