USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_ENDERECO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_ENDERECO_OBTER]
(
	@CodTipoEndereco int 
)
AS
BEGIN

  IF (@CodTipoEndereco = 0)
  begin	
	set @CodTipoEndereco = NULL	
  end	

	SELECT 
		 CodTipoEndereco
		,Descricao
	FROM TipoEndereco
	where CodTipoEndereco= @CodTipoEndereco
  		
END

 
GO
