USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_EMPRESA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

create PROCEDURE [dbo].[P_CONTATO_EMPRESA_EXCLUIR]   
(
	 @CodEmpresa	 int 
	,@CodContato		 int 	
	,@Quem				 varchar(6)
)
AS
BEGIN


	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM EmpresaContato WHERE CodEmpresa = @CodEmpresa and CodContato = @CodContato for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  1, 'EmpresaContato', @VlrOriginal, 'D', @Quem 

	SET @VlrOriginal = (SELECT * FROM Contato WHERE CodContato = @CodContato for xml auto)
	 
	EXEC P_LOGSISTEMA_INCLUIR  1, 'Contato', @VlrOriginal, 'D', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	
	 
	DELETE FROM [dbo].[EmpresaContato]
	WHERE CodEmpresa = @CodEmpresa 
		and CodContato = @CodContato

	DELETE FROM [dbo].[Contato]
	WHERE CodContato = @CodContato

	  		
END

 
GO
