USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_CCT_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_CCT_OBTER]
(
	 @CodTipoCCT int  
)
AS
BEGIN

  IF (@CodTipoCCT = 0)
  begin	
	set @CodTipoCCT = NULL	
  end	

	SELECT 
		 CodTipoCCT
		,Descricao
	FROM TipoCCT
	where CodTipoCCT= @CodTipoCCT
  		
END

 
GO
