USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_PESSOA_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_TIPO_PESSOA_INSERIR]
(
	@Descricao Varchar(80)
	,@Quem							varchar(6)	
)
AS
BEGIN

declare @CodIDENTITY int 

	INSERT INTO TipoPessoa
	(
		Descricao
	)
	VALUES
	(
		@Descricao
	)
	 

	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM TipoPessoa WHERE CodTipoPessoa = @CodIDENTITY for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoPessoa', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodTipoPessoa' 
   
     
  		
END

 
GO
