USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONVENCAO_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE  [dbo].[P_CONVENCAO_OBTER]
(
	@CodConvencao int 
)
AS
BEGIN

	IF (@CodConvencao = 0)
	begin	
		set @CodConvencao = NULL	
	end	

	SELECT 
		 con.CodConvencao
		,tp.CodTipoCCT
		,tp.Descricao		as DescTipoCCT
		,st.CodStatusCCT
		,st.Descricao		as DescStatusCCT
		,con.NomeConvencao	
		,con.AnoVigenciaInicial
		,con.AnoVigenciaFinal
		,con.Observacao
		,con.CCTAssinada
		,con.Ativo
	FROM Convencao con
		inner join TipoCCT tp
			on con.CodTipoCCT = tp.CodTipoCCT 
		inner join StatusCCT st
			on con.CodStatusCCT = st.CodStatusCCT	
	WHERE CodConvencao = @CodConvencao
  		
END

 
GO
