USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_PROJETO_INSERIR]
(
	 @CodStatusProjeto		int
    ,@CodCliente			int
    ,@CodEmpresa			int
    ,@DtCadastro			datetime
    ,@Nome					varchar(100)
    ,@Objetivo				varchar(200)
    ,@ValorPrevisto			decimal(18,2)	= NULL
    ,@ValorRealizado		decimal(18,2)	= NULL
    ,@DtInicioPrevisto		datetime			
    ,@DtTerminoPrevisto		datetime
    ,@DtInicioRealizado		datetime		= NULL
    ,@DtTerminoRealizado	datetime		= NULL
    ,@PercTotal				decimal(18,2)	= NULL
    ,@InformacoesAdd		varchar(max)	= NULL
    ,@Ativo					bit
    ,@Quem					varchar(6)
)
AS
BEGIN


	declare @CodIDENTITY int 

	INSERT INTO Projeto
		(
			 CodStatusProjeto
			,CodCliente
			,CodGrupoEmpresarial
			,DtCadastro
			,Nome
			,Objetivo
			,ValorPrevisto
			,ValorRealizado
			,DtInicioPrevisto
			,DtTerminoPrevisto
			,DtInicioRealizado
			,DtTerminoRealizado
			,PercTotal
			,InformacoesAdd
			,Ativo
			,Quem
			,Quando
		)
	VALUES
		(
			 @CodStatusProjeto
			,@CodCliente
			,@CodEmpresa
			,@DtCadastro
			,@Nome
			,@Objetivo
			,@ValorPrevisto
			,@ValorRealizado
			,@DtInicioPrevisto
			,@DtTerminoPrevisto
			,@DtInicioRealizado
			,@DtTerminoRealizado
			,@PercTotal
			,@InformacoesAdd
			,@Ativo
			,@Quem
			,GETDATE()		
		)

		set @CodIDENTITY = @@IDENTITY 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Projeto WHERE CodProjeto = @CodIDENTITY for xml auto)		

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Projeto', @VlrOriginal, 'I', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************


		select @CodIDENTITY AS 'CodProjeto'


END

 
GO
