USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_BANCODADOS_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_BANCODADOS_OBTER]
(
	 @CodSenhaBancoDados int 
	 ,@Usuario			varchar(6) 
)
AS
BEGIN 
	
	SELECT 
	   senBcD.CodSenhaBancoDados
      ,senBcD.CodInstituicao
	  ,inst.Descricao	as DescInstituicao
      ,senBcD.NomeInstancia
      ,senBcD.UsuarioInstancia
      ,senBcD.SenhaInstancia
      ,senBcD.NomeServer
      ,senBcD.NomeDatabase
      ,senBcD.Usuario
      ,senBcD.Senha
      ,senBcD.Observacao
      ,senBcD.Ativo
      ,senBcD.Quem
    FROM SenhaBancoDados senBcD
	inner join Instituicao inst
		on inst.CodInstituicao = senBcD.CodInstituicao 
	where CodSenhaBancoDados = @CodSenhaBancoDados
	and senBcD.Quem = @Usuario	

END
GO
