USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SERVIDOR_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_SERVIDOR_INSERIR]
(
	 @CodInstituicao		int
	,@Usuario				varchar(100)
	,@Senha					varchar(100)
	,@IPPublico				varchar(50)
	,@IPPrivado				varchar(50)
	,@Observacao			varchar(255) = null
	,@Ativo					bit
	,@Quem					varchar(6)
)
AS
BEGIN

	
	INSERT INTO SenhaServidor
    (
		 CodInstituicao
		,Usuario
		,Senha
		,IPPublico
		,IPPrivado
		,Observacao
		,Ativo
		,Quem
		,Quando
	 )
     VALUES
     (
		 @CodInstituicao
		,@Usuario
		,@Senha
		,@IPPublico
		,@IPPrivado
		,@Observacao
		,@Ativo
		,@Quem
		,GETDATE()
	  )
 


	SELECT @@IDENTITY AS 'CodSenhaServidor';
	
	 	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM SenhaServidor order by 1 desc for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'CodSenhaServidor', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'I', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 



END
GO
