USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_ENDERECO_INSERIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_TIPO_ENDERECO_INSERIR]
(
	@Descricao Varchar(150)
	,@Quem							varchar(6)	
)
AS
BEGIN


declare @CodIDENTITY int 


	INSERT INTO TipoEndereco
	(
		Descricao
	)
	VALUES
	(
		@Descricao
	)
 


	set @CodIDENTITY = @@IDENTITY 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM TipoEndereco WHERE CodTipoEndereco = @CodIDENTITY for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoEndereco', @VlrOriginal, 'I', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************


	select @CodIDENTITY AS 'CodTipoEndereco' 
    
  		
END

 
GO
