USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_PESSOA_EXCLUIR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_TIPO_PESSOA_EXCLUIR]
(
	 @CodTipoPessoa INT    	
	 ,@Quem							varchar(6) 	
)
AS
BEGIN


	IF NOT EXISTS(	
					select * from Pessoa pes
					inner join TipoPessoa pesT
					on pes.CodTipoPessoa = pesT.CodTipoPessoa
					where pesT.CodTipoPessoa = @CodTipoPessoa		
				)
	Begin
	 	
		IF(@CodTipoPessoa <> 2)
		begin
				
			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************
		
			DECLARE @VlrOriginal XML
			SET @VlrOriginal = (SELECT * FROM TipoPessoa WHERE CodTipoPessoa = @CodTipoPessoa for xml auto)
				 
			EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'TipoPessoa', @VlrOriginal, 'D', @Quem 

			--*********************************************
			--*************** AREA DE LOG   ***************
			--*********************************************

			DELETE FROM TipoPessoa 
			Where CodTipoPessoa = @CodTipoPessoa


		end
	End
	ELSE
	Begin
		SELECT 0 'CodTipoPessoa'
	End

END
GO
