USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_TIPO_PESSOA_LISTAR_FILTRO]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_TIPO_PESSOA_LISTAR_FILTRO]
(
	 @CodTipoPessoa int = null
    ,@Descricao varchar(100) = null
)
AS
BEGIN

	IF (@CodTipoPessoa = 0)
	begin	
		set @CodTipoPessoa = NULL	
	end	
		

	SELECT 
		 CodTipoPessoa
		,Descricao
	FROM TipoPessoa
	where (
			@CodTipoPessoa IS NULL				
			OR  CodTipoPessoa = @CodTipoPessoa
		)
    AND (
		@Descricao IS NULL
		OR UPPER(LTRIM(RTRIM(Descricao))) LIKE '%' + UPPER(LTRIM(RTRIM(@Descricao))) + '%'
		)
	order by Descricao  		


END

 
GO
