USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_EMPRESA_CNAE_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_EMPRESA_CNAE_OBTER]
(
	 @CodEmpresa	int
	,@CodCnae		int
)
AS
BEGIN
	

	SELECT 
		 emp.CodEmpresa
		,empca.CodCnae
		,empca.Primario
		,empca.Secundario
	FROM dbo.Empresa emp
	inner join EmpresaCnae empca
		on emp.CodEmpresa = empca.CodEmpresa
	where emp.CodEmpresa = @CodEmpresa
		and empca.CodCnae = @CodCnae
	order by emp.CodEmpresa  		


END
 
GO
