USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFAS_SPRINT_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_TAREFAS_SPRINT_LISTAR]   
(
	 @CodProjetoSprint	int
	--,@CodPessoa			int =null
)
AS
BEGIN
		
   
    SELECT 
	   prjTar.CodProjetoTarefa
      ,prjTar.CodProjeto
	  ,proj.Nome
      ,prjTar.CodProjetoSprint
	  ,prjSpr.Titulo				AS TituloSprint
	  ,prjSpr.SequenciaSprint
	  ,prjSpr.DtInicioPrevisto		AS DtInicioPrevistoSprint
	  ,prjSpr.DtTerminoPrevisto		AS DtTerminoPrevistoSprint
	  ,prjSpr.DtInicioRealizado		AS DtInicioRealizadoSprint
	  ,prjSpr.DtTerminoRealizado	AS DtTerminoRealizadoSprint
      ,prjTar.CodPessoa
	  ,pes.Nome						AS Profissional
	  ,prjTar.CodStatusWorkflow
      ,prjTar.CodStatusTarefa
	  ,stTar.Descricao				AS DescStatusTarefa
      ,prjTar.Titulo
      ,prjTar.Objetivo
      ,prjTar.SequenciaTarefa
      ,prjTar.DtInicioPrevisto
      ,prjTar.DtTerminoPrevisto
      ,prjTar.DtInicioRealizado
      ,prjTar.DtTerminoRealizado
      ,prjTar.Quem
  FROM ProjetoTarefa prjTar
	INNER JOIN Projeto proj
		on proj.CodProjeto = prjTar.CodProjeto
	INNER JOIN ProjetoSprint prjSpr
		on prjSpr.CodProjetoSprint = prjTar.CodProjetoSprint
	INNER JOIN Pessoa pes
		on pes.CodPessoa = prjTar.CodPessoa
	INNER JOIN StatusTarefa stTar
		on stTar.CodStatusTarefa = prjTar.CodStatusTarefa  
	WHERE  prjTar.CodProjetoSprint = @CodProjetoSprint	
		--and prjTar.CodPessoa = @CodPessoa
	order by prjTar.SequenciaTarefa
	 

END
GO
