USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_SENHA_SERVIDOR_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SENHA_SERVIDOR_OBTER]
(
	 @CodSenhaServidor int 
	  ,@Usuario			varchar(6) 
)
AS
BEGIN

 
	
	SELECT 
		 senSer.CodSenhaServidor
		,senSer.CodInstituicao
		,inst.Descricao as  DescInstituicao
		,senSer.Usuario
		,senSer.Senha
		,senSer.IPPublico
		,senSer.IPPrivado
		,senSer.Observacao
		,senSer.Ativo
		,senSer.Quem
		,senSer.Quando
	FROM SenhaServidor senSer
	inner join Instituicao inst
		on inst.CodInstituicao = senSer.CodInstituicao 
	where senSer.CodSenhaServidor = @CodSenhaServidor 	
	and senSer.Quem = @Usuario

END
GO
