USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PESSOA_CATEGORIA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_PESSOA_CATEGORIA_ALTERAR]
(
     @CodPessoaCategoria  int
	,@Descricao varchar(80)	
	,@Sigla varchar(3)	
	,@Quem				VARCHAR(6) 
)
AS
BEGIN


	UPDATE [dbo].[PessoaCategoria]
	set Descricao = @Descricao
	   ,Sigla = @Sigla
	where CodPessoaCategoria = @CodPessoaCategoria 

	
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
		
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT * FROM PessoaCategoria WHERE CodPessoaCategoria = @CodPessoaCategoria for xml auto)
	 
	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'PessoaCategoria', @VlrOriginal, 'U', @Quem 

	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	 	  		
END

 

	
	  		
 
GO
