USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_TAREFA_OBTER]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[P_STATUS_TAREFA_OBTER]
(
	@CodStatusTarefa int 
)
AS
BEGIN

  IF (@CodStatusTarefa = 0)
  begin	
	set @CodStatusTarefa = NULL	
  end	

	SELECT 
		 CodStatusTarefa
		,Descricao
	FROM StatusTarefa
	where CodStatusTarefa= @CodStatusTarefa
  		
END

 
GO
