USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_BANCO_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_BANCO_ALTERAR]
(
	 @CodBanco		int
	,@NumeroBanco	Varchar(100)
	,@NomeBanco		Varchar(100)
	,@Quem			varchar(6) 	
)
AS
BEGIN

		UPDATE Banco
		Set 
			NumeroBanco = @NumeroBanco
		    ,NomeBanco= @NomeBanco
		WHERE CodBanco = @CodBanco

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM Banco WHERE CodBanco = @CodBanco for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'Banco', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
