USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_STATUS_SPRINT_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE  [dbo].[P_STATUS_SPRINT_ALTERAR]
(
	 @CodStatusSprint int
	,@Descricao Varchar(80)
	,@Quem							varchar(6) 	
)
AS
BEGIN

		UPDATE StatusSprint
		Set Descricao = @Descricao
		WHERE CodStatusSprint = @CodStatusSprint

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM StatusSprint WHERE CodStatusSprint = @CodStatusSprint for xml auto)

		EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  3, 'StatusSprint', @VlrOriginal, 'U', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************




 
END

 
GO
