USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_TAREFA_ALTERAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_PROJETO_TAREFA_ALTERAR]  
(
	 @CodProjetoTarefa      int
	,@CodProjeto			int
	,@CodProjetoSprint		int
	,@CodPessoa				int
	,@CodStatusWorkflow		int
	,@CodStatusTarefa		int
	,@Titulo				varchar(80)
	,@Objetivo				varchar(200)	= NULL
	,@SequenciaTarefa		int
	,@DtInicioPrevisto		datetime
	,@DtTerminoPrevisto		datetime
	,@DtInicioRealizado		datetime		= NULL
	,@DtTerminoRealizado	datetime		= NULL
	,@Quem					varchar(6)
)
AS
BEGIN
   

   --*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************
	DECLARE @VlrOriginal XML
	SET @VlrOriginal = (SELECT top 1 * FROM ProjetoTarefa where CodProjetoTarefa = @CodProjetoTarefa for xml auto)

	EXEC SIS_TECH..P_LOGSISTEMA_INCLUIR  @CodSistema = 3, @NmeTabela	=	'ProjetoTarefa', @VlrOriginal= @VlrOriginal, @TpoAcao	= 'U', @NmeLoginUsuario = @Quem 
	--*********************************************
	--*************** AREA DE LOG   ***************
	--*********************************************	 


   UPDATE ProjetoTarefa
   set
		 CodProjeto			= @CodProjeto
		,CodProjetoSprint	= @CodProjetoSprint
		,CodPessoa			= @CodPessoa
		,CodStatusWorkflow	= @CodStatusWorkflow
		,CodStatusTarefa	= @CodStatusTarefa
		,Titulo				= @Titulo
		,Objetivo			= @Objetivo
		,SequenciaTarefa	= @SequenciaTarefa
		,DtInicioPrevisto	= @DtInicioPrevisto
		,DtTerminoPrevisto	= @DtTerminoPrevisto
		,DtInicioRealizado	= @DtInicioRealizado
		,DtTerminoRealizado	= @DtTerminoRealizado
		,Quem				= @Quem
		,Quando				= GETDATE()
   where CodProjetoTarefa = @CodProjetoTarefa
    
	select @CodProjetoTarefa as 'CodProjetoTarefa'
  		
END
GO
