USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_PROJETO_ARQUIVOS_EXCLUIR_POR_NOME]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE  [dbo].[P_PROJETO_ARQUIVOS_EXCLUIR_POR_NOME]
(
	  @NomeArquivo	VARCHAR(50) 
	 ,@Quem			VARCHAR(6) 
)
AS
BEGIN

		select * from ProjetoArquivo
		

		declare @CodArquivoAux int 
		
		select 
			@CodArquivoAux = CodArquivo 
		from Arquivos 
		where nome = @NomeArquivo

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************
		
		DECLARE @VlrOriginal XML
		SET @VlrOriginal = (SELECT * FROM ProjetoArquivo WHERE CodProjetoArquivo = @CodArquivoAux for xml auto)
		
		EXEC P_LOGSISTEMA_INCLUIR  3, 'ProjetoArquivo', @VlrOriginal, 'D', @Quem 

		SET @VlrOriginal = (SELECT * FROM Arquivos WHERE CodArquivo = @CodArquivoAux for xml auto)
		
		EXEC P_LOGSISTEMA_INCLUIR  3, 'Arquivos', @VlrOriginal, 'D', @Quem 

		--*********************************************
		--*************** AREA DE LOG   ***************
		--*********************************************

		DELETE FROM [dbo].[ProjetoArquivo]
		where CodArquivo = @CodArquivoAux		
		
		DELETE FROM [dbo].[Arquivos]
		where CodArquivo = @CodArquivoAux
				
		

END
GO
