USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_CONTATO_CLIENTE_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
--[P_CONTATO_Pessoa_LISTAR]    82

CREATE PROCEDURE [dbo].[P_CONTATO_CLIENTE_LISTAR]    
(
	@CodCliente int 
)
AS
BEGIN

  IF (@CodCliente = 0)
  begin	
	set @CodCliente = NULL	
  end	
		
	SELECT
		 CON.[CodContato]
		,CLI.CodCliente
		,TCON.CodTipoContato
		,TCON.Descricao DescTipoContato
		,CON.[DDD]
		,CON.[Telefone]
		,CON.[Email]
	FROM ClienteContato CLICON
	INNER JOIN Cliente CLI
		on CLICON.CodCliente = CLI.CodCliente
	INNER JOIN Contato CON
		on CLICON.CodContato = CON.CodContato
	INNER JOIN TipoContato TCON
		on TCON.CodTipoContato = CON.CodTipoContato
	where CLI.CodCliente = @CodCliente

  		
END

 
GO
