USE [SIS_TECH]
GO
/****** Object:  StoredProcedure [dbo].[P_ENDERECO_EMPRESA_LISTAR]    Script Date: 12/09/2025 15:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE [dbo].[P_ENDERECO_EMPRESA_LISTAR]   
(
	@CodEmpresa int 
)
AS
BEGIN

  IF (@CodEmpresa = 0)
  begin	
	set @CodEmpresa = NULL	
  end	
		
	SELECT
	   ENDR.CodEndereco
	  ,CLI.CodEmpresa	
      ,TEND.CodTipoEndereco
	  ,TEND.Descricao descTipoEndereco
      ,ENDR.Cep
      ,ENDR.Logradouro
      ,ENDR.Numero
      ,ENDR.Complemento
      ,ENDR.Bairro
      ,ENDR.Cidade
      ,ENDR.Estado  
	FROM EmpresaEndereco CLIEND
	INNER JOIN Empresa CLI
		on CLIEND.CodEmpresa = CLI.CodEmpresa
	INNER JOIN Endereco ENDR
		on CLIEND.CodEndereco = ENDR.CodEndereco
	INNER JOIN TipoEndereco TEND
		on TEND.CodTipoEndereco = ENDR.CodTipoEndereco
	where CLI.CodEmpresa = @CodEmpresa

  		
END

 
GO
